In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import numpy

<h3>Read csv file</h3>

In [31]:
house_data = pd.read_csv('/Users/Admin/HUST/HUST S1Y3/DS prj - Real estate price prediction/house_data_ibatdongsan.csv')
house_data.head()

,Địa chỉ,Ngày đăng,Mã tin,Hướng,Phòng ăn,Loại tin,Lộ giới,Nhà bếp,Loại BDS,Pháp lý,...,Số phòng ngủ,Chính chủ,Diện tích,Diện tích_unit,Giá,Giá_unit,Mô tả,Lộ giới_unit,Chiều ngang_unit,Chiều dài_unit
0,"Đường Trần Duy Hưng, Phường Trung Hòa, Quận Cầ...",01/11/2023,4947134,_,---,Cần bán,---,---,Căn hộ chung cư,---,...,---,---,100.0,m,7.5,tỷ,🌇 𝗩𝗶𝗻𝗵𝗼𝗺𝗲𝘀 𝗗’𝗖𝗮𝗽𝗶𝘁𝗮𝗹𝗲 𝗧𝗿𝗮̂̀𝗻 𝗗𝘂𝘆 𝗛𝘂̛𝗻𝗴 \r\n\r\...,NaN,NaN,NaN
1,"234 Đường Phạm Văn Đồng, Phường Cổ Nhuế 1, Quậ...",Hôm qua,4867157,Đông Nam,Yes,Cần bán,16.0,Yes,Biệt thự,Sổ hồng/ Sổ đỏ,...,6,---,250.0,m,50.0,tỷ,- Vị trí gần công viên hồ An Bình Khu đô thị T...,m,m,m
2,"67 Đường Phùng Khoang, Phường Trung Văn, Quận ...",Hôm qua,4990553,Nam,Yes,Cần bán,8.0,Yes,Biệt thự,Sổ hồng/ Sổ đỏ,...,4,---,150.0,m,19.5,tỷ,- Vị trí trung tâm Phùng Khoang thuộc KĐT Nam ...,m,m,m
3,"90 Phố Hoàng Văn Thái, Phường Khương Mai, Quận...",Hôm qua,4995532,Nam,---,Cần bán,8.0,---,Biệt thự,Sổ hồng/ Sổ đỏ,...,6,---,360.0,m,22.0,tỷ,- Vị trí mặt ngõ thông tứ tung 2 ô tô tránh.\r...,m,m,m
4,"525 Đường Mỹ Đình, Phường Mỹ Đình 2, Quận Nam ...",Hôm qua,4956403,Bắc,Yes,Cần bán,16.0,Yes,Căn hộ chung cư,Sổ hồng/ Sổ đỏ,...,3,---,160.0,m,9.2,tỷ,- Vị trí ngã ba Mỹ Đình và Mỹ Đình 2 cách BX M...,m,m,m

<h3>Read info</h3>

In [32]:
house_data.shape

(70295, 25)

In [33]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70295 entries, 0 to 70294
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Địa chỉ           70295 non-null  object
 1   Ngày đăng         70295 non-null  object
 2   Mã tin            70295 non-null  int64
 3   Hướng             70295 non-null  object
 4   Phòng ăn          70295 non-null  object
 5   Loại tin          70295 non-null  object
 6   Lộ giới           70271 non-null  object
 7   Nhà bếp           70271 non-null  object
 8   Loại BDS          70271 non-null  object
 9   Pháp lý           70271 non-null  object
 10  Sân thượng        70271 non-null  object
 11  Chiều ngang       70236 non-null  object
 12  Số lầu            70236 non-null  object
 13  Chổ để xe hơi     70236 non-null  object
 14  Chiều dài         70208 non-null  object
 15  Số phòng ngủ      70208 non-null  object
 16  Chính chủ         70208 non-null  object
 17  Diện tích         70208 non-null  float64
 18  Diện tích_unit    70208 non-null  object
 19  Giá               68371 non-null  float64
 20  Giá_unit          68371 non-null  object
 21  Mô tả             70295 non-null  object
 22  Lộ giới_unit      50720 non-null  object
 23  Chiều ngang_unit  46104 non-null  object
 24  Chiều dài_unit    28619 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 13.4+ MB

In [34]:
house_data.nunique()

Địa chỉ             10275
Ngày đăng              76
Mã tin              70295
Hướng                   9
Phòng ăn                2
Loại tin                1
Lộ giới               165
Nhà bếp                 2
Loại BDS               15
Pháp lý                 5
Sân thượng              2
Chiều ngang           453
Số lầu                 68
Chổ để xe hơi           2
Chiều dài             718
Số phòng ngủ           95
Chính chủ               2
Diện tích             762
Diện tích_unit          1
Giá                  2230
Giá_unit                3
Mô tả               68651
Lộ giới_unit            1
Chiều ngang_unit        1
Chiều dài_unit          1
dtype: int64

In [35]:
for col in house_data.columns:
    if col not in ['Địa chỉ', 'Ngày đăng', 'Mã tin', 'Lộ giới', 'Chiều ngang', 'Chiều dài', 'Số phòng ngủ', 'Diện tích', 'Giá', 'Mô tả']:
        print(col, house_data[col].unique().tolist())

Hướng ['_', 'Đông Nam', 'Nam', 'Bắc', 'Tây Nam', 'Đông', 'Đông Bắc', 'Tây Bắc', 'Tây']
Phòng ăn ['---', 'Yes']
Loại tin ['Cần bán']
Nhà bếp ['---', 'Yes', nan]
Loại BDS ['Căn hộ chung cư', 'Biệt thự', 'Nhà mặt tiền', 'Nhà ngõ, hẻm', 'Đất', 'Nhà hàng, khách sạn', 'Phòng trọ, nhà trọ', 'Đất nền, phân lô', 'Mặt bằng', 'Kho, xưởng', 'Các loại khác', 'Văn phòng', 'Shop, kiot, quán', 'Trang trại', 'Đất nông, lâm nghiệp', nan]
Pháp lý ['---', 'Sổ hồng/ Sổ đỏ', 'Giấy tờ hợp lệ', nan, 'Giấy phép XD', 'Giấy phép KD']
Sân thượng ['---', 'Yes', nan]
Số lầu ['---', '5', '4', '20', '27', '21', '9', '11', '3', '6', '8', '7', '12', '1', '26', '10', '19', '2', '15', '13', '32', '16', '17', '46', '14', '24', '38', '28', '18', nan, '29', '25', '33', '30', '40', '31', '35', '44', '37', '22', '39', '467', '34', '47', '23', '55', '996', '311', '129', '169', '339', '216', '913', '50', '36', '42', '748', '659', '251', '77', '621', '137', '578', '65', '54', '478', '85', '217', '587']
Chổ để xe hơi ['---', 'Yes', nan]
Chính chủ ['---', nan, 'Yes']
Diện tích_unit ['m', nan]
Giá_unit ['tỷ', nan, 'triệu', 'ngàn']
Lộ giới_unit [nan, 'm']
Chiều ngang_unit [nan, 'm']
Chiều dài_unit [nan, 'm']

<h3>Preprocessing data<h3>

<h4>Remove duplicate</h4>

In [36]:
house_data.drop_duplicates(subset='Mô tả', inplace=True)
print("The size of dataframe: ", house_data.shape)
house_data.info()

The size of dataframe:  (68651, 25)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68651 entries, 0 to 70294
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Địa chỉ           68651 non-null  object
 1   Ngày đăng         68651 non-null  object
 2   Mã tin            68651 non-null  int64
 3   Hướng             68651 non-null  object
 4   Phòng ăn          68651 non-null  object
 5   Loại tin          68651 non-null  object
 6   Lộ giới           68627 non-null  object
 7   Nhà bếp           68627 non-null  object
 8   Loại BDS          68627 non-null  object
 9   Pháp lý           68627 non-null  object
 10  Sân thượng        68627 non-null  object
 11  Chiều ngang       68593 non-null  object
 12  Số lầu            68593 non-null  object
 13  Chổ để xe hơi     68593 non-null  object
 14  Chiều dài         68567 non-null  object
 15  Số phòng ngủ      68567 non-null  object
 16  Chính chủ         68567 non-null  object
 17  Diện tích         68567 non-null  float64
 18  Diện tích_unit    68567 non-null  object
 19  Giá               66762 non-null  float64
 20  Giá_unit          66762 non-null  object
 21  Mô tả             68651 non-null  object
 22  Lộ giới_unit      49300 non-null  object
 23  Chiều ngang_unit  44765 non-null  object
 24  Chiều dài_unit    27605 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 13.6+ MB

<h4>Process Loại BDS</h4>

In [37]:
for bds in house_data['Loại BDS'].unique():
    print(bds, type(bds))

Căn hộ chung cư <class 'str'>
Biệt thự <class 'str'>
Nhà mặt tiền <class 'str'>
Nhà ngõ, hẻm <class 'str'>
Đất <class 'str'>
Nhà hàng, khách sạn <class 'str'>
Phòng trọ, nhà trọ <class 'str'>
Đất nền, phân lô <class 'str'>
Mặt bằng <class 'str'>
Kho, xưởng <class 'str'>
Các loại khác <class 'str'>
Văn phòng <class 'str'>
Shop, kiot, quán <class 'str'>
Trang trại <class 'str'>
Đất nông, lâm nghiệp <class 'str'>
nan <class 'float'>

In [38]:
#there is 24 records where "Loai BDS" is nan
count=house_data['Loại BDS'].isna().sum()
print(count)

24

In [39]:
house_data = house_data.dropna(subset=['Loại BDS'])
print(house_data.shape)

(68627, 25)

<h4>Convert undefined string to NaN value</h4>

In [40]:
#convert undefined value to float('nan')
def convert_to_nan(value):
    if value=='---' or value=='_':
        return float('nan')
    else:
        return value

house_data = house_data.applymap(convert_to_nan)

In [41]:
for col in house_data.columns:
    if col not in ['Địa chỉ', 'Ngày đăng', 'Mã tin', 'Lộ giới', 'Chiều ngang', 'Chiều dài', 'Số phòng ngủ', 'Diện tích', 'Giá', 'Mô tả']:
        print(col, house_data[col].unique().tolist())

Hướng [nan, 'Đông Nam', 'Nam', 'Bắc', 'Tây Nam', 'Đông', 'Đông Bắc', 'Tây Bắc', 'Tây']
Phòng ăn [nan, 'Yes']
Loại tin ['Cần bán']
Nhà bếp [nan, 'Yes']
Loại BDS ['Căn hộ chung cư', 'Biệt thự', 'Nhà mặt tiền', 'Nhà ngõ, hẻm', 'Đất', 'Nhà hàng, khách sạn', 'Phòng trọ, nhà trọ', 'Đất nền, phân lô', 'Mặt bằng', 'Kho, xưởng', 'Các loại khác', 'Văn phòng', 'Shop, kiot, quán', 'Trang trại', 'Đất nông, lâm nghiệp']
Pháp lý [nan, 'Sổ hồng/ Sổ đỏ', 'Giấy tờ hợp lệ', 'Giấy phép XD', 'Giấy phép KD']
Sân thượng [nan, 'Yes']
Số lầu [nan, '5', '4', '20', '27', '21', '9', '11', '3', '6', '8', '7', '12', '1', '26', '10', '19', '2', '15', '13', '32', '16', '17', '46', '14', '24', '38', '28', '18', '29', '25', '33', '30', '40', '31', '35', '44', '37', '22', '39', '467', '34', '47', '23', '55', '996', '311', '129', '169', '339', '216', '913', '50', '36', '42', '748', '659', '251', '77', '621', '137', '578', '65', '54', '478', '85', '217', '587']
Chổ để xe hơi [nan, 'Yes']
Chính chủ [nan, 'Yes']
Diện tích_unit ['m', nan]
Giá_unit ['tỷ', nan, 'triệu', 'ngàn']
Lộ giới_unit [nan, 'm']
Chiều ngang_unit [nan, 'm']
Chiều dài_unit [nan, 'm']

<h4>Processing Số lầu</h4>

In [42]:
house_data['Số lầu']=house_data['Số lầu'].astype(float)
print(house_data['Số lầu'].unique().tolist())

[nan, 5.0, 4.0, 20.0, 27.0, 21.0, 9.0, 11.0, 3.0, 6.0, 8.0, 7.0, 12.0, 1.0, 26.0, 10.0, 19.0, 2.0, 15.0, 13.0, 32.0, 16.0, 17.0, 46.0, 14.0, 24.0, 38.0, 28.0, 18.0, 29.0, 25.0, 33.0, 30.0, 40.0, 31.0, 35.0, 44.0, 37.0, 22.0, 39.0, 467.0, 34.0, 47.0, 23.0, 55.0, 996.0, 311.0, 129.0, 169.0, 339.0, 216.0, 913.0, 50.0, 36.0, 42.0, 748.0, 659.0, 251.0, 77.0, 621.0, 137.0, 578.0, 65.0, 54.0, 478.0, 85.0, 217.0, 587.0]

In [43]:
house_data.describe()

             Mã tin        Số lầu     Diện tích           Giá
count  6.862700e+04  49662.000000  6.856700e+04  66762.000000
mean   4.621974e+06      5.184910  2.371121e+02     22.464581
std    6.030219e+05     11.037498  2.157360e+04     71.743522
min    4.715380e+05      1.000000  0.000000e+00      1.000000
25%    4.598990e+06      4.000000  4.000000e+01      4.150000
50%    4.864185e+06      5.000000  5.500000e+01      7.150000
75%    4.929812e+06      5.000000  8.500000e+01     15.200000
max    5.013231e+06    996.000000  4.200000e+06    999.999000

In [44]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68627 entries, 0 to 70294
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Địa chỉ           68627 non-null  object
 1   Ngày đăng         68627 non-null  object
 2   Mã tin            68627 non-null  int64
 3   Hướng             4487 non-null   object
 4   Phòng ăn          21365 non-null  object
 5   Loại tin          68627 non-null  object
 6   Lộ giới           49332 non-null  object
 7   Nhà bếp           21504 non-null  object
 8   Loại BDS          68627 non-null  object
 9   Pháp lý           53679 non-null  object
 10  Sân thượng        20867 non-null  object
 11  Chiều ngang       44788 non-null  object
 12  Số lầu            49662 non-null  float64
 13  Chổ để xe hơi     17411 non-null  object
 14  Chiều dài         27607 non-null  object
 15  Số phòng ngủ      47453 non-null  object
 16  Chính chủ         2 non-null      object
 17  Diện tích         68567 non-null  float64
 18  Diện tích_unit    68567 non-null  object
 19  Giá               66762 non-null  float64
 20  Giá_unit          66762 non-null  object
 21  Mô tả             68627 non-null  object
 22  Lộ giới_unit      49300 non-null  object
 23  Chiều ngang_unit  44765 non-null  object
 24  Chiều dài_unit    27605 non-null  object
dtypes: float64(3), int64(1), object(21)
memory usage: 13.6+ MB

<h4>Process Giá

In [45]:
#convert to the same price unit(billion)
house_data.loc[house_data['Giá_unit'] == 'triệu', 'Giá'] = house_data['Giá'] / 1000
house_data.loc[house_data['Giá_unit'] == 'triệu', 'Giá_unit'] = 'tỷ'
house_data.loc[house_data['Giá_unit'] == 'ngàn', 'Giá'] = house_data['Giá'] / 1000000
house_data.loc[house_data['Giá_unit'] == 'ngàn', 'Giá_unit'] = 'tỷ'
house_data.describe()

             Mã tin        Số lầu     Diện tích           Giá
count  6.862700e+04  49662.000000  6.856700e+04  66762.000000
mean   4.621974e+06      5.184910  2.371121e+02     17.113521
std    6.030219e+05     11.037498  2.157360e+04     41.752906
min    4.715380e+05      1.000000  0.000000e+00      0.000001
25%    4.598990e+06      4.000000  4.000000e+01      4.000000
50%    4.864185e+06      5.000000  5.500000e+01      6.800000
75%    4.929812e+06      5.000000  8.500000e+01     14.500000
max    5.013231e+06    996.000000  4.200000e+06    999.999000

<h4>Convert 'Địa chỉ' to latitude, longtitude</h4>

In [46]:

import googlemaps
def get_lat_lon(address_to_geocode, API_KEY= 'AIzaSyAkV3s65Dj0HS9S0CGYKp34prahK1bfxnc'):
    gmaps = googlemaps.Client(key=API_KEY)
    try:
        geocode_result = gmaps.geocode(address_to_geocode)
        if geocode_result and len(geocode_result) > 0:
            location = geocode_result[0]['geometry']['location']
            latitude = location['lat']
            longitude = location['lng']
            return (latitude, longitude)
        else:
            geocode_result = gmaps.geocode(address_to_geocode + 'Hà Nội')
            if geocode_result and len(geocode_result) > 0:
                location = geocode_result[0]['geometry']['location']
                latitude = location['lat']
                longitude = location['lng']
                return (latitude, longitude)
            else:
                print("Location not found.")
                return (float('nan'), float('nan'))
            
    except Exception as e:
        print("Location not found.")
        return (float('nan'), float('nan'))

In [47]:
# Trung Yên, Phường Trung Hoà, ''
# x = 'Trung Yên, Phường Trung Hoà, Quận Cầu Giấy, Hà Nội'
# x='Trần Quốc Vượng, Phường Dịch Vọng Hậu'
x='trần khát chân'
# x= 'Trung Yên,Phường Trung Hoà,Quận Cầu Giấy'
print(get_lat_lon(x))

(21.008903, 105.858755)

In [48]:
import json
import concurrent.futures

def geocode_addresses(addresses):
    """Function to geocode a list of addresses."""
    return {address: get_lat_lon(address) for address in addresses}

# Splitting the addresses into chunks for each thread
addresses = house_data['Địa chỉ'].unique()
chunk_size = 20  # Adjust this based on your needs
address_chunks = [addresses[i:i + chunk_size] for i in range(0, len(addresses), chunk_size)]

# Using ThreadPoolExecutor to geocode addresses in parallel
with concurrent.futures.ThreadPoolExecutor() as executor:
    # Map the geocode_addresses function to each chunk
    results = executor.map(geocode_addresses, address_chunks)

    # Combine the results from all threads
    location_dict = {}
    for result in results:
        location_dict.update(result)

# Saving the combined dictionary to a JSON file
with open('location_dict.json', 'w') as fp:
    json.dump(location_dict, fp)

Location not found.

In [49]:
def get_loc(address, location_dict = location_dict):
    return location_dict[address] if address in location_dict and location_dict[address] != (float('nan'), float('nan')) else float('nan')

In [50]:
data = house_data.copy()
data['X'], data['Y'] = zip(*data['Địa chỉ'].apply(get_loc))

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68627 entries, 0 to 70294
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Địa chỉ           68627 non-null  object
 1   Ngày đăng         68627 non-null  object
 2   Mã tin            68627 non-null  int64
 3   Hướng             4487 non-null   object
 4   Phòng ăn          21365 non-null  object
 5   Loại tin          68627 non-null  object
 6   Lộ giới           49332 non-null  object
 7   Nhà bếp           21504 non-null  object
 8   Loại BDS          68627 non-null  object
 9   Pháp lý           53679 non-null  object
 10  Sân thượng        20867 non-null  object
 11  Chiều ngang       44788 non-null  object
 12  Số lầu            49662 non-null  float64
 13  Chổ để xe hơi     17411 non-null  object
 14  Chiều dài         27607 non-null  object
 15  Số phòng ngủ      47453 non-null  object
 16  Chính chủ         2 non-null      object
 17  Diện tích         68567 non-null  float64
 18  Diện tích_unit    68567 non-null  object
 19  Giá               66762 non-null  float64
 20  Giá_unit          66762 non-null  object
 21  Mô tả             68627 non-null  object
 22  Lộ giới_unit      49300 non-null  object
 23  Chiều ngang_unit  44765 non-null  object
 24  Chiều dài_unit    27605 non-null  object
 25  X                 68626 non-null  float64
 26  Y                 68626 non-null  float64
dtypes: float64(5), int64(1), object(21)
memory usage: 16.7+ MB

In [52]:
data=data.dropna(subset=['Giá'])

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66762 entries, 0 to 70294
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Địa chỉ           66762 non-null  object
 1   Ngày đăng         66762 non-null  object
 2   Mã tin            66762 non-null  int64
 3   Hướng             4098 non-null   object
 4   Phòng ăn          20833 non-null  object
 5   Loại tin          66762 non-null  object
 6   Lộ giới           48088 non-null  object
 7   Nhà bếp           20937 non-null  object
 8   Loại BDS          66762 non-null  object
 9   Pháp lý           52309 non-null  object
 10  Sân thượng        20342 non-null  object
 11  Chiều ngang       43614 non-null  object
 12  Số lầu            49012 non-null  float64
 13  Chổ để xe hơi     16928 non-null  object
 14  Chiều dài         26943 non-null  object
 15  Số phòng ngủ      46850 non-null  object
 16  Chính chủ         2 non-null      object
 17  Diện tích         66762 non-null  float64
 18  Diện tích_unit    66762 non-null  object
 19  Giá               66762 non-null  float64
 20  Giá_unit          66762 non-null  object
 21  Mô tả             66762 non-null  object
 22  Lộ giới_unit      48060 non-null  object
 23  Chiều ngang_unit  43593 non-null  object
 24  Chiều dài_unit    26941 non-null  object
 25  X                 66761 non-null  float64
 26  Y                 66761 non-null  float64
dtypes: float64(5), int64(1), object(21)
memory usage: 14.3+ MB

In [54]:
print(data.columns)

Index(['Địa chỉ', 'Ngày đăng', 'Mã tin', 'Hướng', 'Phòng ăn', 'Loại tin',
       'Lộ giới', 'Nhà bếp', 'Loại BDS', 'Pháp lý', 'Sân thượng',
       'Chiều ngang', 'Số lầu', 'Chổ để xe hơi', 'Chiều dài', 'Số phòng ngủ',
       'Chính chủ', 'Diện tích', 'Diện tích_unit', 'Giá', 'Giá_unit', 'Mô tả',
       'Lộ giới_unit', 'Chiều ngang_unit', 'Chiều dài_unit', 'X', 'Y'],
      dtype='object')

<h4>Process Số phòng ngủ</h4>

In [59]:
print(data['Số phòng ngủ'].unique().tolist())
print(type(data['Số phòng ngủ'][1]))

[nan, '6', '4', '3', '2', '5', '33', '8', '25', '22', '50', '1', '7', '10', '16', '14', '9', '27', '21', '11', '15', '60', '12', '24', '30', '20', '66', '40', '29', '18', '31', '90', '46', '17', '32', '48', '42', '28', '35', '26', '19', '13', '85', '99', '39', '23', '52', '36', '80', '100', '56', '44', '55', '96', '37', '45', '34', '88', '38', '70', '81', '550', '41', '64', '95', '65', '91', '72', '58', '105', '262', '43', '59', '62', '256', '86', '572', '536', '68', '148', '472', '900', '160', '51', '125', '54', '83', '165', '94', '864', '662', '75', '53', '84', '67']
<class 'str'>

In [61]:
data['Số phòng ngủ']=data['Số phòng ngủ'].astype(float)
print(data['Số phòng ngủ'].unique().tolist())

[nan, 6.0, 4.0, 3.0, 2.0, 5.0, 33.0, 8.0, 25.0, 22.0, 50.0, 1.0, 7.0, 10.0, 16.0, 14.0, 9.0, 27.0, 21.0, 11.0, 15.0, 60.0, 12.0, 24.0, 30.0, 20.0, 66.0, 40.0, 29.0, 18.0, 31.0, 90.0, 46.0, 17.0, 32.0, 48.0, 42.0, 28.0, 35.0, 26.0, 19.0, 13.0, 85.0, 99.0, 39.0, 23.0, 52.0, 36.0, 80.0, 100.0, 56.0, 44.0, 55.0, 96.0, 37.0, 45.0, 34.0, 88.0, 38.0, 70.0, 81.0, 550.0, 41.0, 64.0, 95.0, 65.0, 91.0, 72.0, 58.0, 105.0, 262.0, 43.0, 59.0, 62.0, 256.0, 86.0, 572.0, 536.0, 68.0, 148.0, 472.0, 900.0, 160.0, 51.0, 125.0, 54.0, 83.0, 165.0, 94.0, 864.0, 662.0, 75.0, 53.0, 84.0, 67.0]

In [62]:
data.describe()

,Mã tin,Số lầu,Số phòng ngủ,Diện tích,Giá,X,Y
count,6.676200e+04,49012.000000,46850.000000,6.676200e+04,66762.000000,66761.000000,66761.000000
mean,4.621397e+06,5.185220,5.337737,2.391616e+02,17.113521,21.019868,105.818609
std,6.049088e+05,11.093588,10.144360,2.186311e+04,41.752906,0.083168,0.068897
min,4.715380e+05,1.000000,1.000000,0.000000e+00,0.000001,16.394065,104.658509
25%,4.598211e+06,4.000000,3.000000,4.000000e+01,4.000000,20.996483,105.793616
50%,4.864118e+06,5.000000,4.000000,5.500000e+01,6.800000,21.017761,105.820533
75%,4.929892e+06,5.000000,5.000000,8.500000e+01,14.500000,21.042069,105.847243
max,5.013231e+06,996.000000,900.000000,4.200000e+06,999.999000,22.047809,107.570791

<h4>Process Lộ giới

In [63]:
print(data['Lộ giới'].unique().tolist())
print(type(data['Lộ giới'][1]))

[nan, '16.0', '8.0', '12.0', '20.0', '10.0', '6.0', '15.0', '3.0', '4.0', '5.0', '2.5', '2.0', '3.5', '30.0', '7.0', '1.0', '50.0', '70.0', '14.0', '13.0', '40.0', '25.0', '3mm', '18.0', '9.0', '2.7', '2.6', '2.2', '21.0', '6.5', '1.5', '11.5', '13.5', '17.0', '11.0', '3.8', '22.0', '4.5', '24.0', '35.0', '60.0', '26.0', '28.0', '2.8', '100.0', '19.0', '55.0', '0.0', '29.0', '80.0', '4.2', '3.3', '6.3', '1.2', '51.0', '3.2', '48.0', '44.0', '1.7000000000000002', '2.4', '2.3', '12.5', '32.0', '43.0', '9.5', '27.0', '6.8', '3.9', '38.0', '33.0', '140.0', '58.0', '56.0', '45.0', '36.0', '52.0', '21mm', '6-7m', '5.2', '23.0', '1.8', '64.0', '3.6', '3.7', '2mm', '3.4', '39.0', '5.5', '3.1', 'Ôtôm', '12.2', '0.5', '37.0', '2.9', '5.4', '66.0', '4.8', '77.0', '5.1', '200.0', '7.2', '190.0', '42.0', '6.2', '17.5', '953.0', '4.6', '1.6', '34.0', 'l3m', '2,5Mm', '4.1', '8.3', '6.6', '41.0', '4.3', '61.0', '6.4', '2.94', '7777.0', '212.0', '`12m', '27.9', '120.0', '101.0', '6mm', '7.5', '5.6', '31.0', '2.09', '1.3', '2.1', '57.0', '1.9', '9.8', '7.9', '2,2\\m', '121.0', '2,5 Mm', '3Mm', '3-4m', '2,mm', '75.0', '67.0', '12.8', '16.2', '`16m', '44.2', '440.0', '630.0', '24.5', '8.8', '1wm', '73.0', '7.6', '4.7', '3-5m', '10Tm', '5-6m', '14.2']
<class 'str'>

In [66]:
#remove non-float values in this column
def is_float(x):
    try:
        float(x)
        return True
    except ValueError:
        return False

filter_data = data[data['Lộ giới'].apply(is_float)]
print(filter_data['Lộ giới'].unique().tolist())

[nan, '16.0', '8.0', '12.0', '20.0', '10.0', '6.0', '15.0', '3.0', '4.0', '5.0', '2.5', '2.0', '3.5', '30.0', '7.0', '1.0', '50.0', '70.0', '14.0', '13.0', '40.0', '25.0', '18.0', '9.0', '2.7', '2.6', '2.2', '21.0', '6.5', '1.5', '11.5', '13.5', '17.0', '11.0', '3.8', '22.0', '4.5', '24.0', '35.0', '60.0', '26.0', '28.0', '2.8', '100.0', '19.0', '55.0', '0.0', '29.0', '80.0', '4.2', '3.3', '6.3', '1.2', '51.0', '3.2', '48.0', '44.0', '1.7000000000000002', '2.4', '2.3', '12.5', '32.0', '43.0', '9.5', '27.0', '6.8', '3.9', '38.0', '33.0', '140.0', '58.0', '56.0', '45.0', '36.0', '52.0', '5.2', '23.0', '1.8', '64.0', '3.6', '3.7', '3.4', '39.0', '5.5', '3.1', '12.2', '0.5', '37.0', '2.9', '5.4', '66.0', '4.8', '77.0', '5.1', '200.0', '7.2', '190.0', '42.0', '6.2', '17.5', '953.0', '4.6', '1.6', '34.0', '4.1', '8.3', '6.6', '41.0', '4.3', '61.0', '6.4', '2.94', '7777.0', '212.0', '27.9', '120.0', '101.0', '7.5', '5.6', '31.0', '2.09', '1.3', '2.1', '57.0', '1.9', '9.8', '7.9', '121.0', '75.0', '67.0', '12.8', '16.2', '44.2', '440.0', '630.0', '24.5', '8.8', '73.0', '7.6', '4.7', '14.2']

In [72]:
filter_data['Lộ giới']=filter_data['Lộ giới'].astype(float)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17532\3218581412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data['Lộ giới']=filter_data['Lộ giới'].astype(float)

In [73]:
print(filter_data['Lộ giới'].unique().tolist())

[nan, 16.0, 8.0, 12.0, 20.0, 10.0, 6.0, 15.0, 3.0, 4.0, 5.0, 2.5, 2.0, 3.5, 30.0, 7.0, 1.0, 50.0, 70.0, 14.0, 13.0, 40.0, 25.0, 18.0, 9.0, 2.7, 2.6, 2.2, 21.0, 6.5, 1.5, 11.5, 13.5, 17.0, 11.0, 3.8, 22.0, 4.5, 24.0, 35.0, 60.0, 26.0, 28.0, 2.8, 100.0, 19.0, 55.0, 0.0, 29.0, 80.0, 4.2, 3.3, 6.3, 1.2, 51.0, 3.2, 48.0, 44.0, 1.7000000000000002, 2.4, 2.3, 12.5, 32.0, 43.0, 9.5, 27.0, 6.8, 3.9, 38.0, 33.0, 140.0, 58.0, 56.0, 45.0, 36.0, 52.0, 5.2, 23.0, 1.8, 64.0, 3.6, 3.7, 3.4, 39.0, 5.5, 3.1, 12.2, 0.5, 37.0, 2.9, 5.4, 66.0, 4.8, 77.0, 5.1, 200.0, 7.2, 190.0, 42.0, 6.2, 17.5, 953.0, 4.6, 1.6, 34.0, 4.1, 8.3, 6.6, 41.0, 4.3, 61.0, 6.4, 2.94, 7777.0, 212.0, 27.9, 120.0, 101.0, 7.5, 5.6, 31.0, 2.09, 1.3, 2.1, 57.0, 1.9, 9.8, 7.9, 121.0, 75.0, 67.0, 12.8, 16.2, 44.2, 440.0, 630.0, 24.5, 8.8, 73.0, 7.6, 4.7, 14.2]

In [68]:
filter_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66734 entries, 0 to 70294
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Địa chỉ           66734 non-null  object
 1   Ngày đăng         66734 non-null  object
 2   Mã tin            66734 non-null  int64
 3   Hướng             4097 non-null   object
 4   Phòng ăn          20814 non-null  object
 5   Loại tin          66734 non-null  object
 6   Lộ giới           48060 non-null  object
 7   Nhà bếp           20918 non-null  object
 8   Loại BDS          66734 non-null  object
 9   Pháp lý           52294 non-null  object
 10  Sân thượng        20323 non-null  object
 11  Chiều ngang       43593 non-null  object
 12  Số lầu            48988 non-null  float64
 13  Chổ để xe hơi     16912 non-null  object
 14  Chiều dài         26936 non-null  object
 15  Số phòng ngủ      46825 non-null  float64
 16  Chính chủ         2 non-null      object
 17  Diện tích         66734 non-null  float64
 18  Diện tích_unit    66734 non-null  object
 19  Giá               66734 non-null  float64
 20  Giá_unit          66734 non-null  object
 21  Mô tả             66734 non-null  object
 22  Lộ giới_unit      48060 non-null  object
 23  Chiều ngang_unit  43578 non-null  object
 24  Chiều dài_unit    26934 non-null  object
 25  X                 66733 non-null  float64
 26  Y                 66733 non-null  float64
dtypes: float64(6), int64(1), object(20)
memory usage: 14.3+ MB

In [75]:
filter_data.describe()

,Mã tin,Lộ giới,Số lầu,Số phòng ngủ,Diện tích,Giá,X,Y
count,6.673400e+04,48060.000000,48988.000000,46825.000000,6.673400e+04,66734.000000,66733.000000,66733.000000
mean,4.621312e+06,9.151445,5.185474,5.338281,2.392388e+02,17.115250,21.019867,105.818607
std,6.049666e+05,37.250942,11.096252,10.146926,2.186770e+04,41.759398,0.083184,0.068908
min,4.715380e+05,0.000000,1.000000,1.000000,0.000000e+00,0.000001,16.394065,104.658509
25%,4.598148e+06,3.000000,4.000000,3.000000,4.000000e+01,4.000000,20.996483,105.793616
50%,4.864100e+06,5.000000,5.000000,4.000000,5.500000e+01,6.800000,21.017761,105.820533
75%,4.929852e+06,10.000000,5.000000,5.000000,8.500000e+01,14.500000,21.042069,105.847243
max,5.013231e+06,7777.000000,996.000000,900.000000,4.200000e+06,999.999000,22.047809,107.570791

In [69]:
print(filter_data.columns)

Index(['Địa chỉ', 'Ngày đăng', 'Mã tin', 'Hướng', 'Phòng ăn', 'Loại tin',
       'Lộ giới', 'Nhà bếp', 'Loại BDS', 'Pháp lý', 'Sân thượng',
       'Chiều ngang', 'Số lầu', 'Chổ để xe hơi', 'Chiều dài', 'Số phòng ngủ',
       'Chính chủ', 'Diện tích', 'Diện tích_unit', 'Giá', 'Giá_unit', 'Mô tả',
       'Lộ giới_unit', 'Chiều ngang_unit', 'Chiều dài_unit', 'X', 'Y'],
      dtype='object')

In [77]:
print(filter_data.shape)

(66734, 27)

In [78]:
selected_cols = ['Địa chỉ', 'Ngày đăng', 'Hướng', 'Phòng ăn', 'Lộ giới', 'Nhà bếp', 'Loại BDS', 'Pháp lý', 'Sân thượng',
                'Chiều ngang', 'Số lầu', 'Chổ để xe hơi', 'Chiều dài', 'Số phòng ngủ','Chính chủ', 'Diện tích', 'Mô tả','X', 'Y', 'Giá']
filter_data[selected_cols].to_csv('cleaned_ibds_data.csv', index=False)