In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import numpy

<h3>Read csv file</h3>

In [31]:
house_data = pd.read_csv('/Users/Admin/HUST/HUST S1Y3/DS prj - Real estate price prediction/house_data_ibatdongsan.csv')
house_data.head()

,ƒê·ªãa ch·ªâ,Ng√†y ƒëƒÉng,M√£ tin,H∆∞·ªõng,Ph√≤ng ƒÉn,Lo·∫°i tin,L·ªô gi·ªõi,Nh√† b·∫øp,Lo·∫°i BDS,Ph√°p l√Ω,...,S·ªë ph√≤ng ng·ªß,Ch√≠nh ch·ªß,Di·ªán t√≠ch,Di·ªán t√≠ch_unit,Gi√°,Gi√°_unit,M√¥ t·∫£,L·ªô gi·ªõi_unit,Chi·ªÅu ngang_unit,Chi·ªÅu d√†i_unit
0,"ƒê∆∞·ªùng Tr·∫ßn Duy H∆∞ng, Ph∆∞·ªùng Trung H√≤a, Qu·∫≠n C·∫ß...",01/11/2023,4947134,_,---,C·∫ßn b√°n,---,---,CƒÉn h·ªô chung c∆∞,---,...,---,---,100.0,m,7.5,t·ª∑,üåá ùó©ùó∂ùóªùóµùóºùó∫ùó≤ùòÄ ùóó‚ÄôùóñùóÆùóΩùó∂ùòÅùóÆùóπùó≤ ùóßùóøùóÆÃÇÃÄùóª ùóóùòÇùòÜ ùóõùòÇÃõùóªùó¥ \r\n\r\...,NaN,NaN,NaN
1,"234 ƒê∆∞·ªùng Ph·∫°m VƒÉn ƒê·ªìng, Ph∆∞·ªùng C·ªï Nhu·∫ø 1, Qu·∫≠...",H√¥m qua,4867157,ƒê√¥ng Nam,Yes,C·∫ßn b√°n,16.0,Yes,Bi·ªát th·ª±,S·ªï h·ªìng/ S·ªï ƒë·ªè,...,6,---,250.0,m,50.0,t·ª∑,- V·ªã tr√≠ g·∫ßn c√¥ng vi√™n h·ªì An B√¨nh Khu ƒë√¥ th·ªã T...,m,m,m
2,"67 ƒê∆∞·ªùng Ph√πng Khoang, Ph∆∞·ªùng Trung VƒÉn, Qu·∫≠n ...",H√¥m qua,4990553,Nam,Yes,C·∫ßn b√°n,8.0,Yes,Bi·ªát th·ª±,S·ªï h·ªìng/ S·ªï ƒë·ªè,...,4,---,150.0,m,19.5,t·ª∑,- V·ªã tr√≠ trung t√¢m Ph√πng Khoang thu·ªôc KƒêT Nam ...,m,m,m
3,"90 Ph·ªë Ho√†ng VƒÉn Th√°i, Ph∆∞·ªùng Kh∆∞∆°ng Mai, Qu·∫≠n...",H√¥m qua,4995532,Nam,---,C·∫ßn b√°n,8.0,---,Bi·ªát th·ª±,S·ªï h·ªìng/ S·ªï ƒë·ªè,...,6,---,360.0,m,22.0,t·ª∑,- V·ªã tr√≠ m·∫∑t ng√µ th√¥ng t·ª© tung 2 √¥ t√¥ tr√°nh.\r...,m,m,m
4,"525 ƒê∆∞·ªùng M·ªπ ƒê√¨nh, Ph∆∞·ªùng M·ªπ ƒê√¨nh 2, Qu·∫≠n Nam ...",H√¥m qua,4956403,B·∫Øc,Yes,C·∫ßn b√°n,16.0,Yes,CƒÉn h·ªô chung c∆∞,S·ªï h·ªìng/ S·ªï ƒë·ªè,...,3,---,160.0,m,9.2,t·ª∑,- V·ªã tr√≠ ng√£ ba M·ªπ ƒê√¨nh v√† M·ªπ ƒê√¨nh 2 c√°ch BX M...,m,m,m

<h3>Read info</h3>

In [32]:
house_data.shape

(70295, 25)

In [33]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70295 entries, 0 to 70294
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ƒê·ªãa ch·ªâ           70295 non-null  object
 1   Ng√†y ƒëƒÉng         70295 non-null  object
 2   M√£ tin            70295 non-null  int64
 3   H∆∞·ªõng             70295 non-null  object
 4   Ph√≤ng ƒÉn          70295 non-null  object
 5   Lo·∫°i tin          70295 non-null  object
 6   L·ªô gi·ªõi           70271 non-null  object
 7   Nh√† b·∫øp           70271 non-null  object
 8   Lo·∫°i BDS          70271 non-null  object
 9   Ph√°p l√Ω           70271 non-null  object
 10  S√¢n th∆∞·ª£ng        70271 non-null  object
 11  Chi·ªÅu ngang       70236 non-null  object
 12  S·ªë l·∫ßu            70236 non-null  object
 13  Ch·ªï ƒë·ªÉ xe h∆°i     70236 non-null  object
 14  Chi·ªÅu d√†i         70208 non-null  object
 15  S·ªë ph√≤ng ng·ªß      70208 non-null  object
 16  Ch√≠nh ch·ªß         70208 non-null  object
 17  Di·ªán t√≠ch         70208 non-null  float64
 18  Di·ªán t√≠ch_unit    70208 non-null  object
 19  Gi√°               68371 non-null  float64
 20  Gi√°_unit          68371 non-null  object
 21  M√¥ t·∫£             70295 non-null  object
 22  L·ªô gi·ªõi_unit      50720 non-null  object
 23  Chi·ªÅu ngang_unit  46104 non-null  object
 24  Chi·ªÅu d√†i_unit    28619 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 13.4+ MB

In [34]:
house_data.nunique()

ƒê·ªãa ch·ªâ             10275
Ng√†y ƒëƒÉng              76
M√£ tin              70295
H∆∞·ªõng                   9
Ph√≤ng ƒÉn                2
Lo·∫°i tin                1
L·ªô gi·ªõi               165
Nh√† b·∫øp                 2
Lo·∫°i BDS               15
Ph√°p l√Ω                 5
S√¢n th∆∞·ª£ng              2
Chi·ªÅu ngang           453
S·ªë l·∫ßu                 68
Ch·ªï ƒë·ªÉ xe h∆°i           2
Chi·ªÅu d√†i             718
S·ªë ph√≤ng ng·ªß           95
Ch√≠nh ch·ªß               2
Di·ªán t√≠ch             762
Di·ªán t√≠ch_unit          1
Gi√°                  2230
Gi√°_unit                3
M√¥ t·∫£               68651
L·ªô gi·ªõi_unit            1
Chi·ªÅu ngang_unit        1
Chi·ªÅu d√†i_unit          1
dtype: int64

In [35]:
for col in house_data.columns:
    if col not in ['ƒê·ªãa ch·ªâ', 'Ng√†y ƒëƒÉng', 'M√£ tin', 'L·ªô gi·ªõi', 'Chi·ªÅu ngang', 'Chi·ªÅu d√†i', 'S·ªë ph√≤ng ng·ªß', 'Di·ªán t√≠ch', 'Gi√°', 'M√¥ t·∫£']:
        print(col, house_data[col].unique().tolist())

H∆∞·ªõng ['_', 'ƒê√¥ng Nam', 'Nam', 'B·∫Øc', 'T√¢y Nam', 'ƒê√¥ng', 'ƒê√¥ng B·∫Øc', 'T√¢y B·∫Øc', 'T√¢y']
Ph√≤ng ƒÉn ['---', 'Yes']
Lo·∫°i tin ['C·∫ßn b√°n']
Nh√† b·∫øp ['---', 'Yes', nan]
Lo·∫°i BDS ['CƒÉn h·ªô chung c∆∞', 'Bi·ªát th·ª±', 'Nh√† m·∫∑t ti·ªÅn', 'Nh√† ng√µ, h·∫ªm', 'ƒê·∫•t', 'Nh√† h√†ng, kh√°ch s·∫°n', 'Ph√≤ng tr·ªç, nh√† tr·ªç', 'ƒê·∫•t n·ªÅn, ph√¢n l√¥', 'M·∫∑t b·∫±ng', 'Kho, x∆∞·ªüng', 'C√°c lo·∫°i kh√°c', 'VƒÉn ph√≤ng', 'Shop, kiot, qu√°n', 'Trang tr·∫°i', 'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp', nan]
Ph√°p l√Ω ['---', 'S·ªï h·ªìng/ S·ªï ƒë·ªè', 'Gi·∫•y t·ªù h·ª£p l·ªá', nan, 'Gi·∫•y ph√©p XD', 'Gi·∫•y ph√©p KD']
S√¢n th∆∞·ª£ng ['---', 'Yes', nan]
S·ªë l·∫ßu ['---', '5', '4', '20', '27', '21', '9', '11', '3', '6', '8', '7', '12', '1', '26', '10', '19', '2', '15', '13', '32', '16', '17', '46', '14', '24', '38', '28', '18', nan, '29', '25', '33', '30', '40', '31', '35', '44', '37', '22', '39', '467', '34', '47', '23', '55', '996', '311', '129', '169', '339', '216', '913', '50', '36', '42', '748', '659', '251', '77', '621', '137', '578', '65', '54', '478', '85', '217', '587']
Ch·ªï ƒë·ªÉ xe h∆°i ['---', 'Yes', nan]
Ch√≠nh ch·ªß ['---', nan, 'Yes']
Di·ªán t√≠ch_unit ['m', nan]
Gi√°_unit ['t·ª∑', nan, 'tri·ªáu', 'ng√†n']
L·ªô gi·ªõi_unit [nan, 'm']
Chi·ªÅu ngang_unit [nan, 'm']
Chi·ªÅu d√†i_unit [nan, 'm']

<h3>Preprocessing data<h3>

<h4>Remove duplicate</h4>

In [36]:
house_data.drop_duplicates(subset='M√¥ t·∫£', inplace=True)
print("The size of dataframe: ", house_data.shape)
house_data.info()

The size of dataframe:  (68651, 25)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68651 entries, 0 to 70294
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ƒê·ªãa ch·ªâ           68651 non-null  object
 1   Ng√†y ƒëƒÉng         68651 non-null  object
 2   M√£ tin            68651 non-null  int64
 3   H∆∞·ªõng             68651 non-null  object
 4   Ph√≤ng ƒÉn          68651 non-null  object
 5   Lo·∫°i tin          68651 non-null  object
 6   L·ªô gi·ªõi           68627 non-null  object
 7   Nh√† b·∫øp           68627 non-null  object
 8   Lo·∫°i BDS          68627 non-null  object
 9   Ph√°p l√Ω           68627 non-null  object
 10  S√¢n th∆∞·ª£ng        68627 non-null  object
 11  Chi·ªÅu ngang       68593 non-null  object
 12  S·ªë l·∫ßu            68593 non-null  object
 13  Ch·ªï ƒë·ªÉ xe h∆°i     68593 non-null  object
 14  Chi·ªÅu d√†i         68567 non-null  object
 15  S·ªë ph√≤ng ng·ªß      68567 non-null  object
 16  Ch√≠nh ch·ªß         68567 non-null  object
 17  Di·ªán t√≠ch         68567 non-null  float64
 18  Di·ªán t√≠ch_unit    68567 non-null  object
 19  Gi√°               66762 non-null  float64
 20  Gi√°_unit          66762 non-null  object
 21  M√¥ t·∫£             68651 non-null  object
 22  L·ªô gi·ªõi_unit      49300 non-null  object
 23  Chi·ªÅu ngang_unit  44765 non-null  object
 24  Chi·ªÅu d√†i_unit    27605 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 13.6+ MB

<h4>Process Lo·∫°i BDS</h4>

In [37]:
for bds in house_data['Lo·∫°i BDS'].unique():
    print(bds, type(bds))

CƒÉn h·ªô chung c∆∞ <class 'str'>
Bi·ªát th·ª± <class 'str'>
Nh√† m·∫∑t ti·ªÅn <class 'str'>
Nh√† ng√µ, h·∫ªm <class 'str'>
ƒê·∫•t <class 'str'>
Nh√† h√†ng, kh√°ch s·∫°n <class 'str'>
Ph√≤ng tr·ªç, nh√† tr·ªç <class 'str'>
ƒê·∫•t n·ªÅn, ph√¢n l√¥ <class 'str'>
M·∫∑t b·∫±ng <class 'str'>
Kho, x∆∞·ªüng <class 'str'>
C√°c lo·∫°i kh√°c <class 'str'>
VƒÉn ph√≤ng <class 'str'>
Shop, kiot, qu√°n <class 'str'>
Trang tr·∫°i <class 'str'>
ƒê·∫•t n√¥ng, l√¢m nghi·ªáp <class 'str'>
nan <class 'float'>

In [38]:
#there is 24 records where "Loai BDS" is nan
count=house_data['Lo·∫°i BDS'].isna().sum()
print(count)

24

In [39]:
house_data = house_data.dropna(subset=['Lo·∫°i BDS'])
print(house_data.shape)

(68627, 25)

<h4>Convert undefined string to NaN value</h4>

In [40]:
#convert undefined value to float('nan')
def convert_to_nan(value):
    if value=='---' or value=='_':
        return float('nan')
    else:
        return value

house_data = house_data.applymap(convert_to_nan)

In [41]:
for col in house_data.columns:
    if col not in ['ƒê·ªãa ch·ªâ', 'Ng√†y ƒëƒÉng', 'M√£ tin', 'L·ªô gi·ªõi', 'Chi·ªÅu ngang', 'Chi·ªÅu d√†i', 'S·ªë ph√≤ng ng·ªß', 'Di·ªán t√≠ch', 'Gi√°', 'M√¥ t·∫£']:
        print(col, house_data[col].unique().tolist())

H∆∞·ªõng [nan, 'ƒê√¥ng Nam', 'Nam', 'B·∫Øc', 'T√¢y Nam', 'ƒê√¥ng', 'ƒê√¥ng B·∫Øc', 'T√¢y B·∫Øc', 'T√¢y']
Ph√≤ng ƒÉn [nan, 'Yes']
Lo·∫°i tin ['C·∫ßn b√°n']
Nh√† b·∫øp [nan, 'Yes']
Lo·∫°i BDS ['CƒÉn h·ªô chung c∆∞', 'Bi·ªát th·ª±', 'Nh√† m·∫∑t ti·ªÅn', 'Nh√† ng√µ, h·∫ªm', 'ƒê·∫•t', 'Nh√† h√†ng, kh√°ch s·∫°n', 'Ph√≤ng tr·ªç, nh√† tr·ªç', 'ƒê·∫•t n·ªÅn, ph√¢n l√¥', 'M·∫∑t b·∫±ng', 'Kho, x∆∞·ªüng', 'C√°c lo·∫°i kh√°c', 'VƒÉn ph√≤ng', 'Shop, kiot, qu√°n', 'Trang tr·∫°i', 'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp']
Ph√°p l√Ω [nan, 'S·ªï h·ªìng/ S·ªï ƒë·ªè', 'Gi·∫•y t·ªù h·ª£p l·ªá', 'Gi·∫•y ph√©p XD', 'Gi·∫•y ph√©p KD']
S√¢n th∆∞·ª£ng [nan, 'Yes']
S·ªë l·∫ßu [nan, '5', '4', '20', '27', '21', '9', '11', '3', '6', '8', '7', '12', '1', '26', '10', '19', '2', '15', '13', '32', '16', '17', '46', '14', '24', '38', '28', '18', '29', '25', '33', '30', '40', '31', '35', '44', '37', '22', '39', '467', '34', '47', '23', '55', '996', '311', '129', '169', '339', '216', '913', '50', '36', '42', '748', '659', '251', '77', '621', '137', '578', '65', '54', '478', '85', '217', '587']
Ch·ªï ƒë·ªÉ xe h∆°i [nan, 'Yes']
Ch√≠nh ch·ªß [nan, 'Yes']
Di·ªán t√≠ch_unit ['m', nan]
Gi√°_unit ['t·ª∑', nan, 'tri·ªáu', 'ng√†n']
L·ªô gi·ªõi_unit [nan, 'm']
Chi·ªÅu ngang_unit [nan, 'm']
Chi·ªÅu d√†i_unit [nan, 'm']

<h4>Processing S·ªë l·∫ßu</h4>

In [42]:
house_data['S·ªë l·∫ßu']=house_data['S·ªë l·∫ßu'].astype(float)
print(house_data['S·ªë l·∫ßu'].unique().tolist())

[nan, 5.0, 4.0, 20.0, 27.0, 21.0, 9.0, 11.0, 3.0, 6.0, 8.0, 7.0, 12.0, 1.0, 26.0, 10.0, 19.0, 2.0, 15.0, 13.0, 32.0, 16.0, 17.0, 46.0, 14.0, 24.0, 38.0, 28.0, 18.0, 29.0, 25.0, 33.0, 30.0, 40.0, 31.0, 35.0, 44.0, 37.0, 22.0, 39.0, 467.0, 34.0, 47.0, 23.0, 55.0, 996.0, 311.0, 129.0, 169.0, 339.0, 216.0, 913.0, 50.0, 36.0, 42.0, 748.0, 659.0, 251.0, 77.0, 621.0, 137.0, 578.0, 65.0, 54.0, 478.0, 85.0, 217.0, 587.0]

In [43]:
house_data.describe()

             M√£ tin        S·ªë l·∫ßu     Di·ªán t√≠ch           Gi√°
count  6.862700e+04  49662.000000  6.856700e+04  66762.000000
mean   4.621974e+06      5.184910  2.371121e+02     22.464581
std    6.030219e+05     11.037498  2.157360e+04     71.743522
min    4.715380e+05      1.000000  0.000000e+00      1.000000
25%    4.598990e+06      4.000000  4.000000e+01      4.150000
50%    4.864185e+06      5.000000  5.500000e+01      7.150000
75%    4.929812e+06      5.000000  8.500000e+01     15.200000
max    5.013231e+06    996.000000  4.200000e+06    999.999000

In [44]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68627 entries, 0 to 70294
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ƒê·ªãa ch·ªâ           68627 non-null  object
 1   Ng√†y ƒëƒÉng         68627 non-null  object
 2   M√£ tin            68627 non-null  int64
 3   H∆∞·ªõng             4487 non-null   object
 4   Ph√≤ng ƒÉn          21365 non-null  object
 5   Lo·∫°i tin          68627 non-null  object
 6   L·ªô gi·ªõi           49332 non-null  object
 7   Nh√† b·∫øp           21504 non-null  object
 8   Lo·∫°i BDS          68627 non-null  object
 9   Ph√°p l√Ω           53679 non-null  object
 10  S√¢n th∆∞·ª£ng        20867 non-null  object
 11  Chi·ªÅu ngang       44788 non-null  object
 12  S·ªë l·∫ßu            49662 non-null  float64
 13  Ch·ªï ƒë·ªÉ xe h∆°i     17411 non-null  object
 14  Chi·ªÅu d√†i         27607 non-null  object
 15  S·ªë ph√≤ng ng·ªß      47453 non-null  object
 16  Ch√≠nh ch·ªß         2 non-null      object
 17  Di·ªán t√≠ch         68567 non-null  float64
 18  Di·ªán t√≠ch_unit    68567 non-null  object
 19  Gi√°               66762 non-null  float64
 20  Gi√°_unit          66762 non-null  object
 21  M√¥ t·∫£             68627 non-null  object
 22  L·ªô gi·ªõi_unit      49300 non-null  object
 23  Chi·ªÅu ngang_unit  44765 non-null  object
 24  Chi·ªÅu d√†i_unit    27605 non-null  object
dtypes: float64(3), int64(1), object(21)
memory usage: 13.6+ MB

<h4>Process Gi√°

In [45]:
#convert to the same price unit(billion)
house_data.loc[house_data['Gi√°_unit'] == 'tri·ªáu', 'Gi√°'] = house_data['Gi√°'] / 1000
house_data.loc[house_data['Gi√°_unit'] == 'tri·ªáu', 'Gi√°_unit'] = 't·ª∑'
house_data.loc[house_data['Gi√°_unit'] == 'ng√†n', 'Gi√°'] = house_data['Gi√°'] / 1000000
house_data.loc[house_data['Gi√°_unit'] == 'ng√†n', 'Gi√°_unit'] = 't·ª∑'
house_data.describe()

             M√£ tin        S·ªë l·∫ßu     Di·ªán t√≠ch           Gi√°
count  6.862700e+04  49662.000000  6.856700e+04  66762.000000
mean   4.621974e+06      5.184910  2.371121e+02     17.113521
std    6.030219e+05     11.037498  2.157360e+04     41.752906
min    4.715380e+05      1.000000  0.000000e+00      0.000001
25%    4.598990e+06      4.000000  4.000000e+01      4.000000
50%    4.864185e+06      5.000000  5.500000e+01      6.800000
75%    4.929812e+06      5.000000  8.500000e+01     14.500000
max    5.013231e+06    996.000000  4.200000e+06    999.999000

<h4>Convert 'ƒê·ªãa ch·ªâ' to latitude, longtitude</h4>

In [46]:

import googlemaps
def get_lat_lon(address_to_geocode, API_KEY= 'AIzaSyAkV3s65Dj0HS9S0CGYKp34prahK1bfxnc'):
    gmaps = googlemaps.Client(key=API_KEY)
    try:
        geocode_result = gmaps.geocode(address_to_geocode)
        if geocode_result and len(geocode_result) > 0:
            location = geocode_result[0]['geometry']['location']
            latitude = location['lat']
            longitude = location['lng']
            return (latitude, longitude)
        else:
            geocode_result = gmaps.geocode(address_to_geocode + 'H√† N·ªôi')
            if geocode_result and len(geocode_result) > 0:
                location = geocode_result[0]['geometry']['location']
                latitude = location['lat']
                longitude = location['lng']
                return (latitude, longitude)
            else:
                print("Location not found.")
                return (float('nan'), float('nan'))
            
    except Exception as e:
        print("Location not found.")
        return (float('nan'), float('nan'))

In [47]:
# Trung Y√™n, Ph∆∞·ªùng Trung Ho√†, ''
# x = 'Trung Y√™n, Ph∆∞·ªùng Trung Ho√†, Qu·∫≠n C·∫ßu Gi·∫•y, H√† N·ªôi'
# x='Tr·∫ßn Qu·ªëc V∆∞·ª£ng, Ph∆∞·ªùng D·ªãch V·ªçng H·∫≠u'
x='tr·∫ßn kh√°t ch√¢n'
# x= 'Trung Y√™n,Ph∆∞·ªùng Trung Ho√†,Qu·∫≠n C·∫ßu Gi·∫•y'
print(get_lat_lon(x))

(21.008903, 105.858755)

In [48]:
import json
import concurrent.futures

def geocode_addresses(addresses):
    """Function to geocode a list of addresses."""
    return {address: get_lat_lon(address) for address in addresses}

# Splitting the addresses into chunks for each thread
addresses = house_data['ƒê·ªãa ch·ªâ'].unique()
chunk_size = 20  # Adjust this based on your needs
address_chunks = [addresses[i:i + chunk_size] for i in range(0, len(addresses), chunk_size)]

# Using ThreadPoolExecutor to geocode addresses in parallel
with concurrent.futures.ThreadPoolExecutor() as executor:
    # Map the geocode_addresses function to each chunk
    results = executor.map(geocode_addresses, address_chunks)

    # Combine the results from all threads
    location_dict = {}
    for result in results:
        location_dict.update(result)

# Saving the combined dictionary to a JSON file
with open('location_dict.json', 'w') as fp:
    json.dump(location_dict, fp)

Location not found.

In [49]:
def get_loc(address, location_dict = location_dict):
    return location_dict[address] if address in location_dict and location_dict[address] != (float('nan'), float('nan')) else float('nan')

In [50]:
data = house_data.copy()
data['X'], data['Y'] = zip(*data['ƒê·ªãa ch·ªâ'].apply(get_loc))

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68627 entries, 0 to 70294
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ƒê·ªãa ch·ªâ           68627 non-null  object
 1   Ng√†y ƒëƒÉng         68627 non-null  object
 2   M√£ tin            68627 non-null  int64
 3   H∆∞·ªõng             4487 non-null   object
 4   Ph√≤ng ƒÉn          21365 non-null  object
 5   Lo·∫°i tin          68627 non-null  object
 6   L·ªô gi·ªõi           49332 non-null  object
 7   Nh√† b·∫øp           21504 non-null  object
 8   Lo·∫°i BDS          68627 non-null  object
 9   Ph√°p l√Ω           53679 non-null  object
 10  S√¢n th∆∞·ª£ng        20867 non-null  object
 11  Chi·ªÅu ngang       44788 non-null  object
 12  S·ªë l·∫ßu            49662 non-null  float64
 13  Ch·ªï ƒë·ªÉ xe h∆°i     17411 non-null  object
 14  Chi·ªÅu d√†i         27607 non-null  object
 15  S·ªë ph√≤ng ng·ªß      47453 non-null  object
 16  Ch√≠nh ch·ªß         2 non-null      object
 17  Di·ªán t√≠ch         68567 non-null  float64
 18  Di·ªán t√≠ch_unit    68567 non-null  object
 19  Gi√°               66762 non-null  float64
 20  Gi√°_unit          66762 non-null  object
 21  M√¥ t·∫£             68627 non-null  object
 22  L·ªô gi·ªõi_unit      49300 non-null  object
 23  Chi·ªÅu ngang_unit  44765 non-null  object
 24  Chi·ªÅu d√†i_unit    27605 non-null  object
 25  X                 68626 non-null  float64
 26  Y                 68626 non-null  float64
dtypes: float64(5), int64(1), object(21)
memory usage: 16.7+ MB

In [52]:
data=data.dropna(subset=['Gi√°'])

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66762 entries, 0 to 70294
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ƒê·ªãa ch·ªâ           66762 non-null  object
 1   Ng√†y ƒëƒÉng         66762 non-null  object
 2   M√£ tin            66762 non-null  int64
 3   H∆∞·ªõng             4098 non-null   object
 4   Ph√≤ng ƒÉn          20833 non-null  object
 5   Lo·∫°i tin          66762 non-null  object
 6   L·ªô gi·ªõi           48088 non-null  object
 7   Nh√† b·∫øp           20937 non-null  object
 8   Lo·∫°i BDS          66762 non-null  object
 9   Ph√°p l√Ω           52309 non-null  object
 10  S√¢n th∆∞·ª£ng        20342 non-null  object
 11  Chi·ªÅu ngang       43614 non-null  object
 12  S·ªë l·∫ßu            49012 non-null  float64
 13  Ch·ªï ƒë·ªÉ xe h∆°i     16928 non-null  object
 14  Chi·ªÅu d√†i         26943 non-null  object
 15  S·ªë ph√≤ng ng·ªß      46850 non-null  object
 16  Ch√≠nh ch·ªß         2 non-null      object
 17  Di·ªán t√≠ch         66762 non-null  float64
 18  Di·ªán t√≠ch_unit    66762 non-null  object
 19  Gi√°               66762 non-null  float64
 20  Gi√°_unit          66762 non-null  object
 21  M√¥ t·∫£             66762 non-null  object
 22  L·ªô gi·ªõi_unit      48060 non-null  object
 23  Chi·ªÅu ngang_unit  43593 non-null  object
 24  Chi·ªÅu d√†i_unit    26941 non-null  object
 25  X                 66761 non-null  float64
 26  Y                 66761 non-null  float64
dtypes: float64(5), int64(1), object(21)
memory usage: 14.3+ MB

In [54]:
print(data.columns)

Index(['ƒê·ªãa ch·ªâ', 'Ng√†y ƒëƒÉng', 'M√£ tin', 'H∆∞·ªõng', 'Ph√≤ng ƒÉn', 'Lo·∫°i tin',
       'L·ªô gi·ªõi', 'Nh√† b·∫øp', 'Lo·∫°i BDS', 'Ph√°p l√Ω', 'S√¢n th∆∞·ª£ng',
       'Chi·ªÅu ngang', 'S·ªë l·∫ßu', 'Ch·ªï ƒë·ªÉ xe h∆°i', 'Chi·ªÅu d√†i', 'S·ªë ph√≤ng ng·ªß',
       'Ch√≠nh ch·ªß', 'Di·ªán t√≠ch', 'Di·ªán t√≠ch_unit', 'Gi√°', 'Gi√°_unit', 'M√¥ t·∫£',
       'L·ªô gi·ªõi_unit', 'Chi·ªÅu ngang_unit', 'Chi·ªÅu d√†i_unit', 'X', 'Y'],
      dtype='object')

<h4>Process S·ªë ph√≤ng ng·ªß</h4>

In [59]:
print(data['S·ªë ph√≤ng ng·ªß'].unique().tolist())
print(type(data['S·ªë ph√≤ng ng·ªß'][1]))

[nan, '6', '4', '3', '2', '5', '33', '8', '25', '22', '50', '1', '7', '10', '16', '14', '9', '27', '21', '11', '15', '60', '12', '24', '30', '20', '66', '40', '29', '18', '31', '90', '46', '17', '32', '48', '42', '28', '35', '26', '19', '13', '85', '99', '39', '23', '52', '36', '80', '100', '56', '44', '55', '96', '37', '45', '34', '88', '38', '70', '81', '550', '41', '64', '95', '65', '91', '72', '58', '105', '262', '43', '59', '62', '256', '86', '572', '536', '68', '148', '472', '900', '160', '51', '125', '54', '83', '165', '94', '864', '662', '75', '53', '84', '67']
<class 'str'>

In [61]:
data['S·ªë ph√≤ng ng·ªß']=data['S·ªë ph√≤ng ng·ªß'].astype(float)
print(data['S·ªë ph√≤ng ng·ªß'].unique().tolist())

[nan, 6.0, 4.0, 3.0, 2.0, 5.0, 33.0, 8.0, 25.0, 22.0, 50.0, 1.0, 7.0, 10.0, 16.0, 14.0, 9.0, 27.0, 21.0, 11.0, 15.0, 60.0, 12.0, 24.0, 30.0, 20.0, 66.0, 40.0, 29.0, 18.0, 31.0, 90.0, 46.0, 17.0, 32.0, 48.0, 42.0, 28.0, 35.0, 26.0, 19.0, 13.0, 85.0, 99.0, 39.0, 23.0, 52.0, 36.0, 80.0, 100.0, 56.0, 44.0, 55.0, 96.0, 37.0, 45.0, 34.0, 88.0, 38.0, 70.0, 81.0, 550.0, 41.0, 64.0, 95.0, 65.0, 91.0, 72.0, 58.0, 105.0, 262.0, 43.0, 59.0, 62.0, 256.0, 86.0, 572.0, 536.0, 68.0, 148.0, 472.0, 900.0, 160.0, 51.0, 125.0, 54.0, 83.0, 165.0, 94.0, 864.0, 662.0, 75.0, 53.0, 84.0, 67.0]

In [62]:
data.describe()

,M√£ tin,S·ªë l·∫ßu,S·ªë ph√≤ng ng·ªß,Di·ªán t√≠ch,Gi√°,X,Y
count,6.676200e+04,49012.000000,46850.000000,6.676200e+04,66762.000000,66761.000000,66761.000000
mean,4.621397e+06,5.185220,5.337737,2.391616e+02,17.113521,21.019868,105.818609
std,6.049088e+05,11.093588,10.144360,2.186311e+04,41.752906,0.083168,0.068897
min,4.715380e+05,1.000000,1.000000,0.000000e+00,0.000001,16.394065,104.658509
25%,4.598211e+06,4.000000,3.000000,4.000000e+01,4.000000,20.996483,105.793616
50%,4.864118e+06,5.000000,4.000000,5.500000e+01,6.800000,21.017761,105.820533
75%,4.929892e+06,5.000000,5.000000,8.500000e+01,14.500000,21.042069,105.847243
max,5.013231e+06,996.000000,900.000000,4.200000e+06,999.999000,22.047809,107.570791

<h4>Process L·ªô gi·ªõi

In [63]:
print(data['L·ªô gi·ªõi'].unique().tolist())
print(type(data['L·ªô gi·ªõi'][1]))

[nan, '16.0', '8.0', '12.0', '20.0', '10.0', '6.0', '15.0', '3.0', '4.0', '5.0', '2.5', '2.0', '3.5', '30.0', '7.0', '1.0', '50.0', '70.0', '14.0', '13.0', '40.0', '25.0', '3mm', '18.0', '9.0', '2.7', '2.6', '2.2', '21.0', '6.5', '1.5', '11.5', '13.5', '17.0', '11.0', '3.8', '22.0', '4.5', '24.0', '35.0', '60.0', '26.0', '28.0', '2.8', '100.0', '19.0', '55.0', '0.0', '29.0', '80.0', '4.2', '3.3', '6.3', '1.2', '51.0', '3.2', '48.0', '44.0', '1.7000000000000002', '2.4', '2.3', '12.5', '32.0', '43.0', '9.5', '27.0', '6.8', '3.9', '38.0', '33.0', '140.0', '58.0', '56.0', '45.0', '36.0', '52.0', '21mm', '6-7m', '5.2', '23.0', '1.8', '64.0', '3.6', '3.7', '2mm', '3.4', '39.0', '5.5', '3.1', '√ît√¥m', '12.2', '0.5', '37.0', '2.9', '5.4', '66.0', '4.8', '77.0', '5.1', '200.0', '7.2', '190.0', '42.0', '6.2', '17.5', '953.0', '4.6', '1.6', '34.0', 'l3m', '2,5Mm', '4.1', '8.3', '6.6', '41.0', '4.3', '61.0', '6.4', '2.94', '7777.0', '212.0', '`12m', '27.9', '120.0', '101.0', '6mm', '7.5', '5.6', '31.0', '2.09', '1.3', '2.1', '57.0', '1.9', '9.8', '7.9', '2,2\\m', '121.0', '2,5 Mm', '3Mm', '3-4m', '2,mm', '75.0', '67.0', '12.8', '16.2', '`16m', '44.2', '440.0', '630.0', '24.5', '8.8', '1wm', '73.0', '7.6', '4.7', '3-5m', '10Tm', '5-6m', '14.2']
<class 'str'>

In [66]:
#remove non-float values in this column
def is_float(x):
    try:
        float(x)
        return True
    except ValueError:
        return False

filter_data = data[data['L·ªô gi·ªõi'].apply(is_float)]
print(filter_data['L·ªô gi·ªõi'].unique().tolist())

[nan, '16.0', '8.0', '12.0', '20.0', '10.0', '6.0', '15.0', '3.0', '4.0', '5.0', '2.5', '2.0', '3.5', '30.0', '7.0', '1.0', '50.0', '70.0', '14.0', '13.0', '40.0', '25.0', '18.0', '9.0', '2.7', '2.6', '2.2', '21.0', '6.5', '1.5', '11.5', '13.5', '17.0', '11.0', '3.8', '22.0', '4.5', '24.0', '35.0', '60.0', '26.0', '28.0', '2.8', '100.0', '19.0', '55.0', '0.0', '29.0', '80.0', '4.2', '3.3', '6.3', '1.2', '51.0', '3.2', '48.0', '44.0', '1.7000000000000002', '2.4', '2.3', '12.5', '32.0', '43.0', '9.5', '27.0', '6.8', '3.9', '38.0', '33.0', '140.0', '58.0', '56.0', '45.0', '36.0', '52.0', '5.2', '23.0', '1.8', '64.0', '3.6', '3.7', '3.4', '39.0', '5.5', '3.1', '12.2', '0.5', '37.0', '2.9', '5.4', '66.0', '4.8', '77.0', '5.1', '200.0', '7.2', '190.0', '42.0', '6.2', '17.5', '953.0', '4.6', '1.6', '34.0', '4.1', '8.3', '6.6', '41.0', '4.3', '61.0', '6.4', '2.94', '7777.0', '212.0', '27.9', '120.0', '101.0', '7.5', '5.6', '31.0', '2.09', '1.3', '2.1', '57.0', '1.9', '9.8', '7.9', '121.0', '75.0', '67.0', '12.8', '16.2', '44.2', '440.0', '630.0', '24.5', '8.8', '73.0', '7.6', '4.7', '14.2']

In [72]:
filter_data['L·ªô gi·ªõi']=filter_data['L·ªô gi·ªõi'].astype(float)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17532\3218581412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data['L·ªô gi·ªõi']=filter_data['L·ªô gi·ªõi'].astype(float)

In [73]:
print(filter_data['L·ªô gi·ªõi'].unique().tolist())

[nan, 16.0, 8.0, 12.0, 20.0, 10.0, 6.0, 15.0, 3.0, 4.0, 5.0, 2.5, 2.0, 3.5, 30.0, 7.0, 1.0, 50.0, 70.0, 14.0, 13.0, 40.0, 25.0, 18.0, 9.0, 2.7, 2.6, 2.2, 21.0, 6.5, 1.5, 11.5, 13.5, 17.0, 11.0, 3.8, 22.0, 4.5, 24.0, 35.0, 60.0, 26.0, 28.0, 2.8, 100.0, 19.0, 55.0, 0.0, 29.0, 80.0, 4.2, 3.3, 6.3, 1.2, 51.0, 3.2, 48.0, 44.0, 1.7000000000000002, 2.4, 2.3, 12.5, 32.0, 43.0, 9.5, 27.0, 6.8, 3.9, 38.0, 33.0, 140.0, 58.0, 56.0, 45.0, 36.0, 52.0, 5.2, 23.0, 1.8, 64.0, 3.6, 3.7, 3.4, 39.0, 5.5, 3.1, 12.2, 0.5, 37.0, 2.9, 5.4, 66.0, 4.8, 77.0, 5.1, 200.0, 7.2, 190.0, 42.0, 6.2, 17.5, 953.0, 4.6, 1.6, 34.0, 4.1, 8.3, 6.6, 41.0, 4.3, 61.0, 6.4, 2.94, 7777.0, 212.0, 27.9, 120.0, 101.0, 7.5, 5.6, 31.0, 2.09, 1.3, 2.1, 57.0, 1.9, 9.8, 7.9, 121.0, 75.0, 67.0, 12.8, 16.2, 44.2, 440.0, 630.0, 24.5, 8.8, 73.0, 7.6, 4.7, 14.2]

In [68]:
filter_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66734 entries, 0 to 70294
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ƒê·ªãa ch·ªâ           66734 non-null  object
 1   Ng√†y ƒëƒÉng         66734 non-null  object
 2   M√£ tin            66734 non-null  int64
 3   H∆∞·ªõng             4097 non-null   object
 4   Ph√≤ng ƒÉn          20814 non-null  object
 5   Lo·∫°i tin          66734 non-null  object
 6   L·ªô gi·ªõi           48060 non-null  object
 7   Nh√† b·∫øp           20918 non-null  object
 8   Lo·∫°i BDS          66734 non-null  object
 9   Ph√°p l√Ω           52294 non-null  object
 10  S√¢n th∆∞·ª£ng        20323 non-null  object
 11  Chi·ªÅu ngang       43593 non-null  object
 12  S·ªë l·∫ßu            48988 non-null  float64
 13  Ch·ªï ƒë·ªÉ xe h∆°i     16912 non-null  object
 14  Chi·ªÅu d√†i         26936 non-null  object
 15  S·ªë ph√≤ng ng·ªß      46825 non-null  float64
 16  Ch√≠nh ch·ªß         2 non-null      object
 17  Di·ªán t√≠ch         66734 non-null  float64
 18  Di·ªán t√≠ch_unit    66734 non-null  object
 19  Gi√°               66734 non-null  float64
 20  Gi√°_unit          66734 non-null  object
 21  M√¥ t·∫£             66734 non-null  object
 22  L·ªô gi·ªõi_unit      48060 non-null  object
 23  Chi·ªÅu ngang_unit  43578 non-null  object
 24  Chi·ªÅu d√†i_unit    26934 non-null  object
 25  X                 66733 non-null  float64
 26  Y                 66733 non-null  float64
dtypes: float64(6), int64(1), object(20)
memory usage: 14.3+ MB

In [75]:
filter_data.describe()

,M√£ tin,L·ªô gi·ªõi,S·ªë l·∫ßu,S·ªë ph√≤ng ng·ªß,Di·ªán t√≠ch,Gi√°,X,Y
count,6.673400e+04,48060.000000,48988.000000,46825.000000,6.673400e+04,66734.000000,66733.000000,66733.000000
mean,4.621312e+06,9.151445,5.185474,5.338281,2.392388e+02,17.115250,21.019867,105.818607
std,6.049666e+05,37.250942,11.096252,10.146926,2.186770e+04,41.759398,0.083184,0.068908
min,4.715380e+05,0.000000,1.000000,1.000000,0.000000e+00,0.000001,16.394065,104.658509
25%,4.598148e+06,3.000000,4.000000,3.000000,4.000000e+01,4.000000,20.996483,105.793616
50%,4.864100e+06,5.000000,5.000000,4.000000,5.500000e+01,6.800000,21.017761,105.820533
75%,4.929852e+06,10.000000,5.000000,5.000000,8.500000e+01,14.500000,21.042069,105.847243
max,5.013231e+06,7777.000000,996.000000,900.000000,4.200000e+06,999.999000,22.047809,107.570791

In [69]:
print(filter_data.columns)

Index(['ƒê·ªãa ch·ªâ', 'Ng√†y ƒëƒÉng', 'M√£ tin', 'H∆∞·ªõng', 'Ph√≤ng ƒÉn', 'Lo·∫°i tin',
       'L·ªô gi·ªõi', 'Nh√† b·∫øp', 'Lo·∫°i BDS', 'Ph√°p l√Ω', 'S√¢n th∆∞·ª£ng',
       'Chi·ªÅu ngang', 'S·ªë l·∫ßu', 'Ch·ªï ƒë·ªÉ xe h∆°i', 'Chi·ªÅu d√†i', 'S·ªë ph√≤ng ng·ªß',
       'Ch√≠nh ch·ªß', 'Di·ªán t√≠ch', 'Di·ªán t√≠ch_unit', 'Gi√°', 'Gi√°_unit', 'M√¥ t·∫£',
       'L·ªô gi·ªõi_unit', 'Chi·ªÅu ngang_unit', 'Chi·ªÅu d√†i_unit', 'X', 'Y'],
      dtype='object')

In [77]:
print(filter_data.shape)

(66734, 27)

In [78]:
selected_cols = ['ƒê·ªãa ch·ªâ', 'Ng√†y ƒëƒÉng', 'H∆∞·ªõng', 'Ph√≤ng ƒÉn', 'L·ªô gi·ªõi', 'Nh√† b·∫øp', 'Lo·∫°i BDS', 'Ph√°p l√Ω', 'S√¢n th∆∞·ª£ng',
                'Chi·ªÅu ngang', 'S·ªë l·∫ßu', 'Ch·ªï ƒë·ªÉ xe h∆°i', 'Chi·ªÅu d√†i', 'S·ªë ph√≤ng ng·ªß','Ch√≠nh ch·ªß', 'Di·ªán t√≠ch', 'M√¥ t·∫£','X', 'Y', 'Gi√°']
filter_data[selected_cols].to_csv('cleaned_ibds_data.csv', index=False)