In [107]:
import pandas as pd
import os

## LOAD DATA

In [108]:
alonhadat = pd.read_csv(os.path.abspath('alonhadat/cleaned_alonhadat_data.csv'))
ibatdongsan = pd.read_csv(os.path.abspath('ibatdongsan/cleaned_ibatdongsan_data.csv'))

nhadatvn = pd.read_csv(os.path.abspath('nhadatvn/cleaned_nhadatvn_data.csv'))

/var/folders/r_/ck84pd413ll737jq2fjpr3t80000gn/T/ipykernel_6260/2364851166.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  ibatdongsan = pd.read_csv(os.path.abspath('ibatdongsan/cleaned_ibatdongsan_data.csv'))

In [109]:
alonhadat.head()

,description,area,direction,dining_room,road_width,kitchen,house_type,land_use_rights,rooftop,width,storey,car_parking,length,bedroom,price,X,Y,address
0,"C·∫ßn b√°n nh√† L√™ Tr·ªçng T·∫•n,H√† ƒë√¥ng\n+V·ªã tr√≠ ƒë·∫πp,...",40.0,NaN,NaN,7.0,NaN,Nh√† trong h·∫ªm,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,4.0,NaN,NaN,3.0,5.95,20.967015,105.756479,"l√™ tr·ªçng t·∫•n, la kh√™, h√† ƒë√¥ng, h√† n·ªôi"
1,C·∫ßn b√°n nh√† ph·ªë Ao sen-H√† ƒë√¥ng\n-V·ªã tr√≠ ƒë·∫Øc ƒë·ªã...,40.0,NaN,NaN,11.0,NaN,Nh√† m·∫∑t ti·ªÅn,NaN,NaN,NaN,5.0,NaN,NaN,3.0,10.45,20.982356,105.787992,"ao sen, m·ªô lao, h√† ƒë√¥ng, h√† n·ªôi"
2,"B√°n g·∫•p nh√† x√≥m ch√πa Xa la,H√† ƒë√¥ng.Nh√† g·∫ßn vi·ªá...",40.0,NaN,NaN,5.0,NaN,Nh√† trong h·∫ªm,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,4.0,NaN,NaN,4.0,4.90,20.960122,105.800079,"xa la, ki·∫øn h∆∞ng, h√† ƒë√¥ng, h√† n·ªôi"
3,"-B√°n nh√† khu C·ªïng ƒë·ªìng La kh√™,H√† ƒë√¥ng.V·ªã tr√≠ ƒë...",50.0,NaN,NaN,11.0,NaN,"Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ",S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,6.0,NaN,NaN,4.0,7.45,20.970769,105.755225,"t·ªë h·ªØu, la kh√™, h√† ƒë√¥ng, h√† n·ªôi"
4,C·∫ßn b√°n g·∫•p nh√† m·∫∑t ph·ªë Phan ƒê√¨nh Ph√πng H√† ƒë√¥n...,60.0,NaN,NaN,17.0,NaN,Nh√† m·∫∑t ti·ªÅn,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,5.0,NaN,NaN,4.0,12.30,20.972974,105.776924,"phan ƒë√¨nh ph√πng, y·∫øt ki√™u, h√† ƒë√¥ng, h√† n·ªôi"

In [110]:
ibatdongsan.head()

,ƒê·ªãa ch·ªâ,Ng√†y ƒëƒÉng,H∆∞·ªõng,Ph√≤ng ƒÉn,L·ªô gi·ªõi,Nh√† b·∫øp,Lo·∫°i BDS,Ph√°p l√Ω,S√¢n th∆∞·ª£ng,Chi·ªÅu ngang,S·ªë l·∫ßu,Ch·ªï ƒë·ªÉ xe h∆°i,Chi·ªÅu d√†i,S·ªë ph√≤ng ng·ªß,Ch√≠nh ch·ªß,Di·ªán t√≠ch,M√¥ t·∫£,X,Y,Gi√°
0,"ƒê∆∞·ªùng Tr·∫ßn Duy H∆∞ng, Ph∆∞·ªùng Trung H√≤a, Qu·∫≠n C·∫ß...",01/11/2023,NaN,NaN,NaN,NaN,CƒÉn h·ªô chung c∆∞,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,üåá ùó©ùó∂ùóªùóµùóºùó∫ùó≤ùòÄ ùóó‚ÄôùóñùóÆùóΩùó∂ùòÅùóÆùóπùó≤ ùóßùóøùóÆÃÇÃÄùóª ùóóùòÇùòÜ ùóõùòÇÃõùóªùó¥ \n\nGi√°...,21.010676,105.799562,7.5
1,"234 ƒê∆∞·ªùng Ph·∫°m VƒÉn ƒê·ªìng, Ph∆∞·ªùng C·ªï Nhu·∫ø 1, Qu·∫≠...",H√¥m qua,ƒê√¥ng Nam,Yes,16.0,Yes,Bi·ªát th·ª±,S·ªï h·ªìng/ S·ªï ƒë·ªè,Yes,10.0,5.0,Yes,25.0,6.0,NaN,250.0,- V·ªã tr√≠ g·∫ßn c√¥ng vi√™n h·ªì An B√¨nh Khu ƒë√¥ th·ªã T...,21.051616,105.780440,50.0
2,"67 ƒê∆∞·ªùng Ph√πng Khoang, Ph∆∞·ªùng Trung VƒÉn, Qu·∫≠n ...",H√¥m qua,Nam,Yes,8.0,Yes,Bi·ªát th·ª±,S·ªï h·ªìng/ S·ªï ƒë·ªè,Yes,7.0,5.0,Yes,21.0,4.0,NaN,150.0,- V·ªã tr√≠ trung t√¢m Ph√πng Khoang thu·ªôc KƒêT Nam ...,20.986749,105.793222,19.5
3,"90 Ph·ªë Ho√†ng VƒÉn Th√°i, Ph∆∞·ªùng Kh∆∞∆°ng Mai, Qu·∫≠n...",H√¥m qua,Nam,NaN,8.0,NaN,Bi·ªát th·ª±,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,8.0,4.0,NaN,45.0,6.0,NaN,360.0,- V·ªã tr√≠ m·∫∑t ng√µ th√¥ng t·ª© tung 2 √¥ t√¥ tr√°nh.\n...,20.996449,105.826652,22.0
4,"525 ƒê∆∞·ªùng M·ªπ ƒê√¨nh, Ph∆∞·ªùng M·ªπ ƒê√¨nh 2, Qu·∫≠n Nam ...",H√¥m qua,B·∫Øc,Yes,16.0,Yes,CƒÉn h·ªô chung c∆∞,S·ªï h·ªìng/ S·ªï ƒë·ªè,Yes,10.0,20.0,Yes,16.0,3.0,NaN,160.0,- V·ªã tr√≠ ng√£ ba M·ªπ ƒê√¨nh v√† M·ªπ ƒê√¨nh 2 c√°ch BX M...,21.023617,105.774203,9.2

In [111]:
nhadatvn.head()

,M·∫∑t ti·ªÅn,S·ªë t·∫ßng,S·ªë ph√≤ng v·ªá sinh,S·ªë ph√≤ng ng·ªß,ƒê∆∞·ªùng v√†o,Di·ªán t√≠ch,X,Y,Ph√°p l√Ω,ƒê·ªãa ch·ªâ,M√¥ t·∫£,Ng√†y ƒëƒÉng,Ng√†y h·∫øt h·∫°n,Lo·∫°i BƒêS,H∆∞·ªõng nh√†,H∆∞·ªõng ban c√¥ng,Gi√°
0,3.0,4.0,4.0,4.0,7.0,30.0,21.010153,105.798834,S·ªï ƒë·ªè/ S·ªï h·ªìng,"Ph∆∞·ªùng Trung Ho√†, Qu·∫≠n C·∫ßu Gi·∫•y, H√† N·ªôi","01 cƒÉn duy nh·∫•t Trung K√≠nh, √¥ t√¥ tr√°nh, hai th...",14/12/2022,24/12/2022,"B√°n nh√† ng√µ, h·∫ªm",NaN,NaN,6.7
1,4.3,4.0,4.0,4.0,4.0,50.0,21.034721,105.827155,S·ªï ƒë·ªè/ S·ªï h·ªìng,"ƒê·ªôi c·∫•n, Ph∆∞·ªùng ƒê·ªôi C·∫•n, Qu·∫≠n Ba ƒê√¨nh, H√† N·ªôi",Ng√µ 294 ƒê·ªôi C·∫•n l√† ng√µ th√¥ng sang ng√µ 10 Kim M...,15/03/2023,25/03/2023,"B√°n nh√† ng√µ, h·∫ªm",NaN,NaN,6.3
2,4.0,6.0,5.0,4.0,4.0,39.0,21.034989,105.793802,S·ªï ƒë·ªè/ S·ªï h·ªìng,"C·∫ßu Gi·∫•y, Ph∆∞·ªùng D·ªãch V·ªçng, Qu·∫≠n C·∫ßu Gi·∫•y, H√† N·ªôi",B√°n nh√† m·∫∑t ng√µ C·∫ßu Gi·∫•y 6 t·∫ßng PH√ÇN L√î √î T√î T...,15/03/2023,25/03/2023,"B√°n nh√† ng√µ, h·∫ªm",NaN,NaN,7.9
3,4.6,6.0,5.0,5.0,1.0,48.0,21.034989,105.793802,S·ªï ƒë·ªè/ S·ªï h·ªìng,"C·∫ßu Gi·∫•y, Ph∆∞·ªùng D·ªãch V·ªçng, Qu·∫≠n C·∫ßu Gi·∫•y, H√† N·ªôi","B√°n nh√† C·∫ßu Gi·∫•y, PH√ÇN L√î √î T√î 48m2 6T 9 t·ª∑ √î ...",15/03/2023,25/03/2023,"B√°n nh√† ng√µ, h·∫ªm",NaN,NaN,9.2
4,5.0,4.0,4.0,4.0,1.0,50.0,21.023258,105.807148,S·ªï ƒë·ªè/ S·ªï h·ªìng,"Ch√πa L√°ng, Ph∆∞·ªùng L√°ng H·∫°, Qu·∫≠n ƒê·ªëng ƒêa, H√† N·ªôi",V·ªã tr√≠ h√≥t nh·∫•t ƒë·ªëng ƒëa trong ph√¢n kh√∫c d∆∞·ªõi 4...,15/03/2023,25/03/2023,"B√°n nh√† ng√µ, h·∫ªm",NaN,NaN,3.5

In [112]:
alonhadat.rename(columns={'land_use_rights':'legal',
                          'rooftop': 'rooftop_terrace',
                          'width': 'facade',
                          }, inplace=True)

In [113]:
ibatdongsan.rename(columns={'ƒê·ªãa ch·ªâ': 'address',
                            'Ng√†y ƒëƒÉng': 'published_date',
                            'H∆∞·ªõng': 'direction',
                            'Ph√≤ng ƒÉn': 'dining_room',
                            'L·ªô gi·ªõi': 'road_width',
                            'Lo·∫°i BDS': 'house_type',
                            'Nh√† b·∫øp': 'kitchen',
                            'Ph√°p l√Ω': 'legal',
                            'S√¢n th∆∞·ª£ng': 'rooftop_terrace',
                            'Chi·ªÅu ngang': 'facade',
                            'S·ªë l·∫ßu': 'storey',
                            'Ch·ªï ƒë·ªÉ xe h∆°i': 'car_parking',
                            'Chi·ªÅu d√†i': 'length',
                            'S·ªë ph√≤ng ng·ªß': 'bedroom',
                            'Ch√≠nh ch·ªß': 'owner',
                            'Di·ªán t√≠ch': 'area',
                            'M√¥ t·∫£': 'description',
                            'Gi√°': 'price',
                            }, inplace=True)

In [114]:
nhadatvn.rename(columns={'M·∫∑t ti·ªÅn': 'facade',
                         'S·ªë t·∫ßng'  : 'storey',
                         'S·ªë ph√≤ng v·ªá sinh': 'toilet',
                            'S·ªë ph√≤ng ng·ªß': 'bedroom',
                            'ƒê∆∞·ªùng v√†o': 'road_width',
                            'Di·ªán t√≠ch': 'area',
                            'Ph√°p l√Ω': 'legal',
                            'ƒê·ªãa ch·ªâ': 'address',
                            'Ng√†y ƒëƒÉng': 'published_date',
                            'Ng√†y h·∫øt h·∫°n': 'expired_date',
                            'Lo·∫°i BƒêS'  : 'house_type',
                            'H∆∞·ªõng nh√†': 'direction',
                            'H∆∞·ªõng ban c√¥ng': 'balcony_direction',
                            'Gi√°': 'price',
                            'M√¥ t·∫£': 'description',
                            }, inplace=True)

In [115]:
# Concat all data
house_data = pd.concat([alonhadat, ibatdongsan, nhadatvn], ignore_index=True)

In [116]:
house_data.head()

,description,area,direction,dining_room,road_width,kitchen,house_type,legal,rooftop_terrace,facade,...,bedroom,price,X,Y,address,published_date,owner,toilet,expired_date,balcony_direction
0,"C·∫ßn b√°n nh√† L√™ Tr·ªçng T·∫•n,H√† ƒë√¥ng\n+V·ªã tr√≠ ƒë·∫πp,...",40.0,NaN,NaN,7.0,NaN,Nh√† trong h·∫ªm,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,...,3.0,5.95,20.967015,105.756479,"l√™ tr·ªçng t·∫•n, la kh√™, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN
1,C·∫ßn b√°n nh√† ph·ªë Ao sen-H√† ƒë√¥ng\n-V·ªã tr√≠ ƒë·∫Øc ƒë·ªã...,40.0,NaN,NaN,11.0,NaN,Nh√† m·∫∑t ti·ªÅn,NaN,NaN,NaN,...,3.0,10.45,20.982356,105.787992,"ao sen, m·ªô lao, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN
2,"B√°n g·∫•p nh√† x√≥m ch√πa Xa la,H√† ƒë√¥ng.Nh√† g·∫ßn vi·ªá...",40.0,NaN,NaN,5.0,NaN,Nh√† trong h·∫ªm,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,...,4.0,4.90,20.960122,105.800079,"xa la, ki·∫øn h∆∞ng, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN
3,"-B√°n nh√† khu C·ªïng ƒë·ªìng La kh√™,H√† ƒë√¥ng.V·ªã tr√≠ ƒë...",50.0,NaN,NaN,11.0,NaN,"Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ",S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,...,4.0,7.45,20.970769,105.755225,"t·ªë h·ªØu, la kh√™, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN
4,C·∫ßn b√°n g·∫•p nh√† m·∫∑t ph·ªë Phan ƒê√¨nh Ph√πng H√† ƒë√¥n...,60.0,NaN,NaN,17.0,NaN,Nh√† m·∫∑t ti·ªÅn,S·ªï h·ªìng/ S·ªï ƒë·ªè,NaN,NaN,...,4.0,12.30,20.972974,105.776924,"phan ƒë√¨nh ph√πng, y·∫øt ki√™u, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN

In [117]:
new_order = ['price', 'area','road_width','facade','length', 'storey', 'bedroom','toilet','X','Y','direction','balcony_direction','legal','house_type','address','published_date','expired_date','owner','car_parking','rooftop_terrace','kitchen','dining_room','description']
print(len(new_order))

23

In [118]:
house_data = house_data[new_order]
house_data.head()

,price,area,road_width,facade,length,storey,bedroom,toilet,X,Y,...,house_type,address,published_date,expired_date,owner,car_parking,rooftop_terrace,kitchen,dining_room,description
0,5.95,40.0,7.0,NaN,NaN,4.0,3.0,NaN,20.967015,105.756479,...,Nh√† trong h·∫ªm,"l√™ tr·ªçng t·∫•n, la kh√™, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C·∫ßn b√°n nh√† L√™ Tr·ªçng T·∫•n,H√† ƒë√¥ng\n+V·ªã tr√≠ ƒë·∫πp,..."
1,10.45,40.0,11.0,NaN,NaN,5.0,3.0,NaN,20.982356,105.787992,...,Nh√† m·∫∑t ti·ªÅn,"ao sen, m·ªô lao, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C·∫ßn b√°n nh√† ph·ªë Ao sen-H√† ƒë√¥ng\n-V·ªã tr√≠ ƒë·∫Øc ƒë·ªã...
2,4.90,40.0,5.0,NaN,NaN,4.0,4.0,NaN,20.960122,105.800079,...,Nh√† trong h·∫ªm,"xa la, ki·∫øn h∆∞ng, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B√°n g·∫•p nh√† x√≥m ch√πa Xa la,H√† ƒë√¥ng.Nh√† g·∫ßn vi·ªá..."
3,7.45,50.0,11.0,NaN,NaN,6.0,4.0,NaN,20.970769,105.755225,...,"Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ","t·ªë h·ªØu, la kh√™, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-B√°n nh√† khu C·ªïng ƒë·ªìng La kh√™,H√† ƒë√¥ng.V·ªã tr√≠ ƒë..."
4,12.30,60.0,17.0,NaN,NaN,5.0,4.0,NaN,20.972974,105.776924,...,Nh√† m·∫∑t ti·ªÅn,"phan ƒë√¨nh ph√πng, y·∫øt ki√™u, h√† ƒë√¥ng, h√† n·ªôi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C·∫ßn b√°n g·∫•p nh√† m·∫∑t ph·ªë Phan ƒê√¨nh Ph√πng H√† ƒë√¥n...

In [119]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177082 entries, 0 to 177081
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              177082 non-null  float64
 1   area               177035 non-null  float64
 2   road_width         157597 non-null  float64
 3   facade             123966 non-null  float64
 4   length             60876 non-null   float64
 5   storey             148076 non-null  float64
 6   bedroom            144867 non-null  float64
 7   toilet             13718 non-null   float64
 8   X                  177056 non-null  float64
 9   Y                  177056 non-null  float64
 10  direction          10516 non-null   object
 11  balcony_direction  151 non-null     object
 12  legal              145913 non-null  object
 13  house_type         177082 non-null  object
 14  address            177057 non-null  object
 15  published_date     85113 non-null   object
 16  expired_date       18382 non-null   object
 17  owner              2 non-null       object
 18  car_parking        56120 non-null   object
 19  rooftop_terrace    67555 non-null   object
 20  kitchen            68894 non-null   object
 21  dining_room        68665 non-null   object
 22  description        176796 non-null  object
dtypes: float64(10), object(13)
memory usage: 31.1+ MB

In [120]:
house_data.drop_duplicates(inplace=True)

In [121]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174351 entries, 0 to 177081
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              174351 non-null  float64
 1   area               174304 non-null  float64
 2   road_width         154900 non-null  float64
 3   facade             121470 non-null  float64
 4   length             58948 non-null   float64
 5   storey             145531 non-null  float64
 6   bedroom            142339 non-null  float64
 7   toilet             13718 non-null   float64
 8   X                  174325 non-null  float64
 9   Y                  174325 non-null  float64
 10  direction          10465 non-null   object
 11  balcony_direction  151 non-null     object
 12  legal              143259 non-null  object
 13  house_type         174351 non-null  object
 14  address            174326 non-null  object
 15  published_date     85113 non-null   object
 16  expired_date       18382 non-null   object
 17  owner              2 non-null       object
 18  car_parking        53808 non-null   object
 19  rooftop_terrace    65205 non-null   object
 20  kitchen            66539 non-null   object
 21  dining_room        66310 non-null   object
 22  description        174065 non-null  object
dtypes: float64(10), object(13)
memory usage: 31.9+ MB

In [122]:
house_data['description'] = house_data['description'].str.strip()
house_data.drop_duplicates(['description'],inplace=True)

house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168638 entries, 0 to 177081
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              168638 non-null  float64
 1   area               168591 non-null  float64
 2   road_width         149877 non-null  float64
 3   facade             117276 non-null  float64
 4   length             56137 non-null   float64
 5   storey             140684 non-null  float64
 6   bedroom            137560 non-null  float64
 7   toilet             13718 non-null   float64
 8   X                  168612 non-null  float64
 9   Y                  168612 non-null  float64
 10  direction          10165 non-null   object
 11  balcony_direction  151 non-null     object
 12  legal              138541 non-null  object
 13  house_type         168638 non-null  object
 14  address            168613 non-null  object
 15  published_date     80353 non-null   object
 16  expired_date       18380 non-null   object
 17  owner              2 non-null       object
 18  car_parking        52181 non-null   object
 19  rooftop_terrace    63087 non-null   object
 20  kitchen            64383 non-null   object
 21  dining_room        64175 non-null   object
 22  description        168637 non-null  object
dtypes: float64(10), object(13)
memory usage: 30.9+ MB

In [123]:
house_data.nunique()

price                  3545
area                   1169
road_width              194
facade                  615
length                  955
storey                   77
bedroom                 129
toilet                   58
X                      6555
Y                      6331
direction                 8
balcony_direction         8
legal                     7
house_type               32
address               18105
published_date          537
expired_date            490
owner                     1
car_parking               2
rooftop_terrace           2
kitchen                   2
dining_room               2
description          168637
dtype: int64

In [124]:
for col in house_data.columns:
    if col not in ['price', 'area', 'road_width', 'facade', 'length', 'storey', 'bedroom', 'toilet', 'X', 'Y', 'description', 'address']:
        print(col, house_data[col].unique().tolist())

direction [nan, 'ƒê√¥ng Nam', 'Nam', 'ƒê√¥ng B·∫Øc', 'B·∫Øc', 'T√¢y', 'T√¢y B·∫Øc', 'ƒê√¥ng', 'T√¢y Nam']
balcony_direction [nan, 'T√¢y Nam', 'T√¢y B·∫Øc', 'ƒê√¥ng B·∫Øc', 'Nam', 'B·∫Øc', 'ƒê√¥ng Nam', 'T√¢y', 'ƒê√¥ng']
legal ['S·ªï h·ªìng/ S·ªï ƒë·ªè', nan, 'Gi·∫•y t·ªù h·ª£p l·ªá', 'Gi·∫•y ph√©p XD', 'Gi·∫•y ph√©p KD', 'S·ªï ƒë·ªè/ S·ªï h·ªìng', 'ƒêang ch·ªù s·ªï', 'H·ª£p ƒë·ªìng mua b√°n']
house_type ['Nh√† trong h·∫ªm', 'Nh√† m·∫∑t ti·ªÅn', 'Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ', 'ƒê·∫•t th·ªï c∆∞, ƒë·∫•t ·ªü', 'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n', 'Nh√† h√†ng, kh√°ch s·∫°n', 'VƒÉn ph√≤ng', 'Shop, kiot, qu√°n', 'M·∫∑t b·∫±ng', 'CƒÉn h·ªô chung c∆∞', 'Bi·ªát th·ª±', 'Nh√† ng√µ, h·∫ªm', 'ƒê·∫•t', 'Ph√≤ng tr·ªç, nh√† tr·ªç', 'ƒê·∫•t n·ªÅn, ph√¢n l√¥', 'C√°c lo·∫°i kh√°c', 'Kho, x∆∞·ªüng', 'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp', 'Trang tr·∫°i', 'B√°n nh√† ng√µ, h·∫ªm', 'B√°n nh√† m·∫∑t ti·ªÅn', 'B√°n cƒÉn h·ªô chung c∆∞', 'B√°n bi·ªát th·ª±, villa,', 'B√°n ƒë·∫•t th·ªï c∆∞', 'B√°n lo·∫°i b·∫•t ƒë·ªông s·∫£n kh√°c', 'B√°n ƒë·∫•t n·ªÅn d·ª± √°n', 'B√°n Shophouse', 'B√°n nh√† c·∫•p 4', 'B√°n nh√† tr·ªç', 'B√°n kho x∆∞·ªüng', 'B√°n condotel', 'B√°n ƒë·∫•t n√¥ng nghi·ªáp']
published_date [nan, '01/11/2023', 'H√¥m qua', 'H√¥m nay', '25/10/2023', '05/10/2023', '13/11/2023', '14/09/2023', '21/10/2023', '31/10/2023', '12/09/2023', '18/11/2023', '07/11/2023', '11/11/2023', '10/11/2023', '15/11/2023', '29/09/2023', '30/09/2023', '16/10/2023', '03/11/2023', '04/11/2023', '30/10/2023', '08/11/2023', '18/10/2023', '07/10/2023', '17/09/2023', '23/10/2023', '13/09/2023', '09/11/2023', '11/09/2023', '13/10/2023', '24/09/2023', '19/10/2023', '02/10/2023', '21/09/2023', '17/11/2023', '02/11/2023', '26/10/2023', '08/10/2023', '10/10/2023', '10/09/2023', '04/10/2023', '23/09/2023', '12/11/2023', '27/09/2023', '27/10/2023', '22/10/2023', '19/11/2023', '26/09/2023', '20/09/2023', '28/09/2023', '09/09/2023', '17/10/2023', '25/09/2023', '06/11/2023', '20/10/2023', '16/09/2023', '05/11/2023', '06/10/2023', '15/10/2023', '14/10/2023', '18/09/2023', '09/10/2023', '11/10/2023', '12/10/2023', '16/11/2023', '19/09/2023', '24/10/2023', '22/09/2023', '20/11/2023', '03/10/2023', '01/10/2023', '14/11/2023', '15/09/2023', '08/09/2023', '29/10/2023', '24/11/2023', '14/12/2022', '15/03/2023', '19/04/2023', '16/03/2023', '19/03/2023', '11/11/2022', '10/11/2022', '28/11/2022', '31/01/2023', '29/05/2023', '23/03/2023', '08/12/2022', '18/03/2023', '12/04/2023', '24/12/2022', '22/03/2023', '27/11/2022', '21/03/2023', '21/02/2023', '22/11/2022', '05/06/2023', '01/12/2022', '14/03/2023', '10/09/2022', '16/05/2023', '05/12/2022', '07/02/2023', '02/06/2023', '29/11/2022', '24/03/2023', '14/02/2023', '18/11/2022', '13/04/2023', '31/03/2023', '02/02/2023', '02/12/2022', '04/02/2023', '23/11/2022', '25/01/2023', '15/11/2022', '08/02/2023', '13/12/2022', '13/03/2023', '04/12/2022', '02/03/2023', '21/04/2023', '13/08/2023', '20/12/2022', '10/02/2023', '16/02/2023', '22/02/2023', '17/03/2023', '15/05/2023', '26/05/2023', '10/01/2023', '04/01/2023', '17/10/2022', '20/03/2023', '21/10/2022', '20/11/2022', '02/04/2023', '30/11/2022', '08/01/2023', '30/12/2022', '14/11/2022', '06/02/2023', '14/04/2023', '07/12/2022', '03/04/2023', '20/04/2023', '30/01/2023', '03/02/2023', '09/12/2022', '19/12/2022', '27/12/2022', '21/12/2022', '22/12/2022', '13/01/2023', '28/01/2023', '18/12/2022', '30/08/2022', '17/12/2022', '15/12/2022', '18/04/2023', '28/12/2022', '05/02/2023', '13/02/2023', '06/12/2022', '24/02/2023', '17/11/2022', '24/11/2022', '03/03/2023', '10/12/2022', '17/02/2023', '29/03/2023', '14/06/2023', '19/05/2023', '25/11/2022', '11/04/2023', '10/03/2023', '11/03/2023', '05/04/2023', '16/11/2022', '09/01/2023', '19/11/2022', '08/03/2023', '21/11/2022', '01/04/2023', '12/10/2022', '23/12/2022', '26/12/2022', '06/04/2023', '28/03/2023', '12/11/2022', '29/12/2022', '08/04/2023', '26/11/2022', '11/02/2023', '01/03/2023', '15/02/2023', '26/06/2023', '17/05/2023', '13/11/2022', '09/04/2023', '09/03/2023', '04/03/2023', '28/02/2023', '28/10/2022', '03/12/2022', '07/10/2022', '29/10/2022', '16/12/2022', '27/05/2023', '27/01/2023', '23/05/2023', '18/02/2023', '07/01/2023', '26/02/2023', '04/05/2023', '18/05/2023', '27/02/2023', '11/01/2023', '30/03/2023', '10/10/2022', '31/05/2023', '25/12/2022', '19/02/2023', '12/07/2023', '01/02/2023', '20/02/2023', '07/03/2023', '17/06/2023', '09/08/2023', '05/03/2023', '11/08/2023', '19/09/2022', '21/07/2022', '07/04/2023', '25/03/2023', '04/04/2023', '25/05/2023', '12/01/2023', '14/07/2023', '22/04/2023', '06/03/2023', '12/03/2023', '17/04/2023', '23/02/2023', '19/01/2023', '10/08/2022', '12/02/2023', '08/06/2022', '14/05/2023', '03/01/2023', '22/05/2023', '15/07/2022', '15/08/2022', '12/05/2022', '21/05/2022', '25/04/2023', '27/03/2023', '12/05/2023', '24/05/2023', '25/02/2023', '28/06/2022', '06/01/2023', '01/06/2023', '13/05/2022', '12/12/2022', '16/06/2022', '19/08/2022', '09/06/2023', '11/06/2022', '26/05/2022', '18/10/2022', '21/05/2023', '16/01/2023', '19/06/2023', '03/06/2023', '08/08/2022', '15/04/2023', '30/05/2023', '31/05/2022', '22/06/2023', '11/12/2022', '04/08/2022', '05/08/2022', '14/01/2023', '20/07/2023', '14/08/2023', '07/06/2023', '10/07/2023', '10/04/2023', '11/09/2022', '20/05/2023', '27/07/2023', '05/07/2023', '06/07/2023', '19/10/2022', '19/07/2023', '09/02/2023', '27/06/2022', '13/06/2023', '28/05/2023', '05/01/2023', '26/03/2023', '15/09/2022', '06/06/2023', '30/06/2023', '01/07/2023', '21/06/2023', '13/05/2023', '07/07/2023', '21/09/2022', '28/06/2023', '08/10/2022', '03/11/2022', '31/12/2022', '01/07/2022', '08/11/2022', '15/01/2023', '24/08/2022', '25/10/2022', '04/06/2023', '14/10/2022', '05/11/2022', '26/01/2023', '05/09/2022', '16/04/2023', '18/01/2023', '29/01/2023', '01/01/2023', '24/06/2022', '17/01/2023', '18/07/2022', '21/06/2022', '29/06/2022', '05/07/2022', '08/08/2023', '07/07/2022', '05/09/2023', '25/09/2022', '16/06/2023', '01/11/2022', '20/06/2022', '17/07/2023', '02/01/2023', '28/08/2022', '03/06/2022', '12/06/2023', '24/01/2023', '22/01/2023', '13/07/2023', '21/07/2023', '10/06/2023', '29/06/2023', '02/08/2023', '27/06/2023', '18/07/2023', '06/05/2022', '23/09/2022', '02/08/2022', '20/05/2022', '03/07/2023', '12/09/2022', '22/09/2022', '31/07/2023', '16/05/2022', '22/10/2022', '22/05/2022', '02/07/2022', '03/11/2021', '11/07/2023', '20/01/2023', '11/08/2022', '09/09/2022', '12/06/2022', '01/10/2022', '14/06/2022', '26/04/2023', '20/06/2023', '30/06/2022', '02/07/2023', '04/11/2022', '21/01/2023', '04/09/2022', '04/07/2022', '24/06/2023', '25/06/2023', '16/08/2022', '23/01/2023', '04/10/2022', '25/08/2022', '08/06/2023', '11/06/2023', '15/06/2023', '13/10/2022', '29/09/2022', '04/07/2023', '02/11/2022', '31/10/2022', '14/07/2022', '17/08/2022', '24/10/2022', '07/06/2022', '11/07/2022', '14/05/2022', '17/05/2022', '24/09/2022', '02/10/2022', '27/07/2022', '12/08/2022', '04/05/2022', '09/06/2022', '11/11/2021', '23/11/2021', '19/08/2023', '24/05/2022', '17/07/2022', '29/08/2023', '06/07/2022', '31/08/2022', '21/04/2022', '28/07/2022', '02/06/2022', '15/06/2022', '09/07/2023', '10/06/2022', '06/06/2022', '25/11/2021', '17/09/2022', '23/06/2022', '07/05/2022', '11/05/2022', '17/11/2021', '23/10/2022', '20/11/2021', '15/11/2021', '22/11/2021', '22/08/2023', '25/07/2022', '09/11/2022', '11/10/2022', '03/10/2022', '15/10/2022', '20/09/2022', '16/07/2022', '27/05/2022', '09/08/2022', '07/09/2023', '15/07/2023', '05/06/2022', '22/08/2022', '23/08/2022', '07/09/2022', '28/09/2022', '25/04/2022', '25/05/2022', '03/07/2022', '13/11/2021', '30/05/2022', '08/07/2022', '19/07/2022', '18/06/2023', '08/09/2022', '23/06/2023', '17/08/2023', '20/10/2022', '19/05/2022', '13/07/2022', '28/05/2022', '02/11/2021', '12/11/2021', '13/09/2022', '03/08/2022', '16/11/2021', '10/07/2022', '18/06/2022', '13/06/2022', '26/08/2022', '18/09/2022', '26/06/2022', '29/08/2022', '01/11/2021', '22/06/2022', '27/09/2022', '24/07/2023', '30/10/2022', '07/11/2022', '16/07/2023', '04/06/2022', '22/07/2023', '30/09/2022', '23/05/2022', '16/09/2022', '06/08/2022', '06/10/2022', '23/08/2023', '09/05/2023', '14/09/2022', '28/04/2022', '16/10/2022', '01/06/2022', '26/10/2022', '26/09/2022', '01/08/2022', '26/07/2023', '01/09/2022', '24/07/2022', '22/07/2022', '10/05/2023', '27/10/2022', '28/04/2023', '31/08/2023', '28/08/2023', '07/08/2023', '10/05/2022', '16/08/2023', '26/08/2023', '20/07/2022', '15/08/2023', '19/06/2022', '25/07/2023', '06/09/2022', '12/07/2022', '05/10/2022', '26/07/2022', '06/11/2022', '03/09/2022', '29/07/2022', '08/05/2022', '09/07/2022', '09/10/2022', '18/05/2022', '13/08/2022', '18/08/2022', '08/07/2023', '09/05/2022', '03/09/2023', '11/05/2023', '23/07/2022']
expired_date [nan, '24/12/2022', '25/03/2023', '29/04/2023', '26/03/2023', '29/03/2023', '21/11/2022', '20/11/2022', '08/12/2022', '10/02/2023', '08/06/2023', '02/04/2023', '18/12/2022', '28/03/2023', '22/04/2023', '03/01/2023', '01/04/2023', '16/03/2023', '07/12/2022', '31/03/2023', '03/03/2023', '19/03/2023', '02/12/2022', '15/06/2023', '11/12/2022', '24/03/2023', '19/11/2023', '26/05/2023', '15/12/2022', '17/02/2023', '12/06/2023', '09/12/2022', '03/04/2023', '24/02/2023', '28/11/2022', '23/04/2023', '10/04/2023', '02/02/2023', '12/12/2022', '04/02/2023', '03/12/2022', '25/11/2022', '08/02/2023', '13/12/2022', '23/12/2022', '23/03/2023', '14/12/2022', '12/03/2023', '01/05/2023', '23/08/2023', '30/12/2022', '16/02/2023', '04/03/2023', '27/03/2023', '25/05/2023', '07/02/2023', '05/06/2023', '20/01/2023', '14/01/2023', '27/10/2022', '30/03/2023', '31/10/2022', '30/11/2022', '12/04/2023', '10/12/2022', '18/01/2023', '09/01/2023', '24/11/2022', '24/04/2023', '17/12/2022', '13/04/2023', '30/04/2023', '09/02/2023', '21/02/2023', '03/02/2023', '06/02/2023', '19/12/2022', '06/01/2023', '31/12/2022', '01/01/2023', '23/01/2023', '28/12/2022', '16/04/2023', '14/02/2023', '09/09/2022', '27/12/2022', '25/12/2022', '13/02/2023', '28/04/2023', '07/01/2023', '15/02/2023', '16/12/2022', '06/03/2023', '27/11/2022', '04/12/2022', '13/03/2023', '20/12/2022', '27/02/2023', '24/06/2023', '29/05/2023', '05/12/2022', '21/04/2023', '20/03/2023', '21/03/2023', '15/04/2023', '26/02/2023', '26/11/2022', '19/01/2023', '29/12/2022', '20/02/2023', '29/11/2022', '18/03/2023', '01/12/2022', '11/04/2023', '19/10/2022', '02/01/2023', '05/01/2023', '07/04/2023', '22/11/2022', '08/01/2023', '18/04/2023', '06/12/2022', '11/03/2023', '25/02/2023', '06/07/2023', '27/05/2023', '23/11/2022', '19/04/2023', '09/03/2023', '14/03/2023', '10/03/2023', '04/11/2022', '18/02/2023', '14/10/2022', '05/11/2022', '26/12/2022', '06/06/2023', '02/06/2023', '28/02/2023', '17/01/2023', '08/03/2023', '14/05/2023', '28/05/2023', '21/01/2023', '09/04/2023', '20/10/2022', '10/06/2023', '23/09/2023', '04/01/2023', '01/03/2023', '22/07/2023', '11/02/2023', '02/03/2023', '17/03/2023', '27/06/2023', '19/08/2023', '15/03/2023', '21/08/2023', '29/09/2022', '31/07/2022', '17/04/2023', '04/04/2023', '14/04/2023', '04/06/2023', '05/04/2023', '22/01/2023', '24/07/2023', '02/05/2023', '22/03/2023', '27/04/2023', '06/04/2023', '12/02/2023', '05/03/2023', '29/01/2023', '30/08/2022', '22/02/2023', '08/04/2023', '18/06/2022', '24/05/2023', '13/01/2023', '01/06/2023', '04/08/2022', '22/05/2022', '31/05/2022', '05/05/2023', '22/05/2023', '23/02/2023', '03/06/2023', '07/03/2023', '13/07/2022', '16/01/2023', '11/06/2023', '23/05/2022', '22/12/2022', '23/06/2022', '29/08/2022', '19/06/2023', '21/06/2022', '08/10/2023', '05/06/2022', '13/11/2022', '31/05/2023', '26/01/2023', '29/06/2023', '13/06/2023', '26/11/2023', '13/10/2023', '07/09/2022', '25/04/2023', '10/11/2023', '09/06/2023', '10/06/2022', '02/07/2023', '12/10/2023', '21/12/2022', '03/09/2022', '31/08/2022', '24/01/2023', '28/10/2023', '30/07/2023', '24/08/2023', '17/06/2023', '20/07/2023', '20/04/2023', '21/09/2022', '30/05/2023', '18/11/2023', '07/06/2023', '06/08/2023', '15/07/2023', '16/07/2023', '11/11/2023', '14/06/2023', '29/10/2022', '29/07/2023', '23/08/2022', '19/02/2023', '07/07/2022', '23/06/2023', '15/01/2023', '25/09/2022', '16/06/2023', '10/07/2023', '11/07/2023', '01/07/2023', '23/05/2023', '17/07/2023', '22/09/2023', '01/10/2022', '08/07/2023', '18/10/2022', '10/01/2023', '11/07/2022', '16/05/2023', '18/11/2022', '25/01/2023', '20/10/2023', '24/10/2022', '13/11/2023', '12/11/2022', '25/09/2023', '22/10/2023', '05/02/2023', '15/09/2022', '26/04/2023', '28/01/2023', '11/01/2023', '15/05/2023', '04/07/2022', '27/01/2023', '26/10/2023', '28/07/2022', '01/07/2022', '06/07/2022', '08/09/2022', '05/07/2022', '18/08/2023', '17/05/2023', '17/07/2022', '15/09/2023', '02/10/2022', '26/06/2023', '30/06/2022', '27/07/2023', '20/09/2022', '12/01/2023', '13/06/2022', '22/06/2023', '01/02/2023', '23/07/2023', '11/11/2022', '31/07/2023', '20/06/2023', '09/07/2023', '20/08/2022', '12/08/2023', '07/07/2023', '28/07/2023', '16/11/2023', '13/05/2022', '03/10/2022', '12/08/2022', '27/05/2022', '13/07/2023', '05/10/2023', '22/09/2022', '10/08/2023', '26/05/2022', '01/11/2022', '29/05/2022', '09/07/2022', '12/07/2022', '21/07/2023', '30/01/2023', '21/08/2022', '05/09/2022', '19/09/2022', '22/06/2022', '11/10/2022', '30/09/2023', '24/06/2022', '06/05/2023', '30/06/2023', '05/11/2023', '05/10/2022', '12/07/2023', '14/11/2022', '31/01/2023', '04/09/2022', '11/09/2022', '03/08/2022', '04/07/2023', '05/07/2023', '09/10/2023', '18/06/2023', '21/06/2023', '25/06/2023', '23/10/2022', '14/07/2023', '10/11/2022', '04/11/2023', '24/07/2022', '08/11/2022', '29/10/2023', '27/08/2022', '03/11/2022', '17/06/2022', '26/07/2022', '14/08/2022', '24/05/2022', '22/10/2022', '04/10/2022', '12/10/2022', '10/08/2022', '16/11/2022', '22/08/2022', '14/05/2022', '19/06/2022', '29/08/2023', '03/06/2022', '27/07/2022', '08/09/2023', '26/08/2022', '16/07/2022', '10/09/2022', '01/05/2022', '14/07/2022', '07/08/2022', '12/06/2022', '25/06/2022', '19/07/2023', '20/05/2022', '20/06/2022', '16/06/2022', '27/09/2022', '03/07/2022', '06/08/2022', '17/05/2022', '18/08/2022', '21/05/2022', '02/11/2022', '06/10/2023', '01/09/2023', '15/11/2022', '19/10/2023', '19/11/2022', '21/10/2022', '09/10/2022', '11/10/2023', '13/10/2022', '25/10/2022', '17/10/2023', '16/10/2023', '06/06/2022', '23/10/2023', '19/08/2022', '17/09/2023', '25/07/2023', '14/10/2023', '15/06/2022', '30/05/2022', '24/09/2023', '13/05/2023', '29/09/2023', '01/09/2022', '02/09/2022', '17/09/2022', '08/10/2022', '05/05/2022', '04/06/2022', '09/06/2022', '18/07/2022', '29/07/2022', '28/06/2023', '18/09/2022', '03/07/2023', '27/08/2023', '23/07/2022', '07/06/2022', '28/08/2022', '23/09/2022', '13/08/2022', '20/07/2022', '28/06/2022', '15/08/2022', '28/09/2022', '10/07/2022', '29/06/2022', '07/10/2022', '03/08/2023', '09/11/2022', '17/11/2022', '26/07/2023', '14/06/2022', '01/08/2023', '08/05/2023', '02/06/2022', '26/09/2022', '16/10/2022', '25/08/2022', '02/09/2023', '30/09/2022', '19/05/2023', '24/09/2022', '02/07/2022', '26/06/2022', '29/04/2022', '26/10/2022', '28/09/2023', '17/10/2022', '12/11/2023', '28/10/2022', '07/11/2022', '11/06/2022', '05/08/2022', '11/08/2022', '05/08/2023', '02/11/2023', '01/08/2022', '20/05/2023', '06/11/2022', '21/09/2023', '10/10/2022', '31/08/2023', '28/08/2023', '07/08/2023', '09/08/2023', '10/05/2022', '21/05/2023', '08/07/2022', '26/08/2023', '21/10/2023', '05/09/2023', '30/07/2022', '25/08/2023', '16/09/2022', '22/07/2022', '15/10/2022', '20/11/2023', '17/11/2023', '06/10/2022', '13/09/2022', '18/05/2022', '08/08/2022', '28/05/2022', '15/07/2022', '18/05/2023', '18/07/2023', '19/05/2022', '10/09/2023', '06/11/2023']
owner [nan, 'Yes']
car_parking [nan, True, 'Yes']
rooftop_terrace [nan, True, 'Yes']
kitchen [nan, True, 'Yes']
dining_room [nan, True, 'Yes']

## PROCESS DATA

### Processing legal

In [125]:
house_data.loc[house_data['legal'] == 'S·ªï h·ªìng/ S·ªï ƒë·ªè', 'legal'] = 'S·ªï ƒë·ªè/ S·ªï h·ªìng'
house_data['legal'].unique()

array(['S·ªï ƒë·ªè/ S·ªï h·ªìng', nan, 'Gi·∫•y t·ªù h·ª£p l·ªá', 'Gi·∫•y ph√©p XD',
       'Gi·∫•y ph√©p KD', 'ƒêang ch·ªù s·ªï', 'H·ª£p ƒë·ªìng mua b√°n'], dtype=object)

### Processing housetype

In [126]:
house_data['house_type'].unique()

array(['Nh√† trong h·∫ªm', 'Nh√† m·∫∑t ti·ªÅn', 'Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ',
       'ƒê·∫•t th·ªï c∆∞, ƒë·∫•t ·ªü', 'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n',
       'Nh√† h√†ng, kh√°ch s·∫°n', 'VƒÉn ph√≤ng', 'Shop, kiot, qu√°n', 'M·∫∑t b·∫±ng',
       'CƒÉn h·ªô chung c∆∞', 'Bi·ªát th·ª±', 'Nh√† ng√µ, h·∫ªm', 'ƒê·∫•t',
       'Ph√≤ng tr·ªç, nh√† tr·ªç', 'ƒê·∫•t n·ªÅn, ph√¢n l√¥', 'C√°c lo·∫°i kh√°c',
       'Kho, x∆∞·ªüng', 'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp', 'Trang tr·∫°i',
       'B√°n nh√† ng√µ, h·∫ªm', 'B√°n nh√† m·∫∑t ti·ªÅn', 'B√°n cƒÉn h·ªô chung c∆∞',
       'B√°n bi·ªát th·ª±, villa,', 'B√°n ƒë·∫•t th·ªï c∆∞',
       'B√°n lo·∫°i b·∫•t ƒë·ªông s·∫£n kh√°c', 'B√°n ƒë·∫•t n·ªÅn d·ª± √°n', 'B√°n Shophouse',
       'B√°n nh√† c·∫•p 4', 'B√°n nh√† tr·ªç', 'B√°n kho x∆∞·ªüng', 'B√°n condotel',
       'B√°n ƒë·∫•t n√¥ng nghi·ªáp'], dtype=object)

In [127]:
type_dict = {'B√°n nh√† ng√µ, h·∫ªm': 'Nh√† ng√µ, h·∫ªm',
             'Nh√† trong h·∫ªm':'Nh√† ng√µ, h·∫ªm',
             'B√°n nh√† m·∫∑t ti·ªÅn': 'Nh√† m·∫∑t ti·ªÅn',
             'B√°n cƒÉn h·ªô chung c∆∞': 'CƒÉn h·ªô chung c∆∞',
                'B√°n nh√† ri√™ng': 'Nh√† ri√™ng',
                'B√°n bi·ªát th·ª±, villa,': 'Bi·ªát th·ª±, villa, nh√† li·ªÅn k·ªÅ',
                'Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ': 'Bi·ªát th·ª±, villa, nh√† li·ªÅn k·ªÅ',
                'Bi·ªát th·ª±': 'Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ',
                'B√°n ƒë·∫•t th·ªï c∆∞': 'ƒê·∫•t th·ªï c∆∞, ƒë·∫•t ·ªü',
                'B√°n ƒë·∫•t n·ªÅn d·ª± √°n': 'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n',
                'B√°n nh√† tr·ªç':'Ph√≤ng tr·ªç, nh√† tr·ªç',
                'B√°n kho x∆∞·ªüng': 'Kho, x∆∞·ªüng',
                'B√°n ƒë·∫•t n√¥ng nghi·ªáp':'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp',
                'B√°n condotel':'Nh√† h√†ng, kh√°ch s·∫°n',
                'B√°n Shophouse': 'Shop, kiot, qu√°n', #vawn phong , mat bang, dat, datnen phanlo, 'B√°n nh√† c·∫•p 4'
                'B√°n lo·∫°i b·∫•t ƒë·ªông s·∫£n kh√°c': 'C√°c lo·∫°i kh√°c',
                'ƒê·∫•t n·ªÅn, ph√¢n l√¥': 'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n',
                'ƒê·∫•t':'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n',
                'B√°n nh√† c·∫•p 4':'Nh√† c·∫•p 4',

}

In [128]:
def replace_house_type(x, type_dict=type_dict):
    if x in type_dict.keys():
        return type_dict[x]
    else:
        return x

In [129]:
house_data['house_type'] = house_data['house_type'].apply(replace_house_type)

In [130]:
house_data['house_type'].unique()

array(['Nh√† ng√µ, h·∫ªm', 'Nh√† m·∫∑t ti·ªÅn', 'Bi·ªát th·ª±, villa, nh√† li·ªÅn k·ªÅ',
       'ƒê·∫•t th·ªï c∆∞, ƒë·∫•t ·ªü', 'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n',
       'Nh√† h√†ng, kh√°ch s·∫°n', 'VƒÉn ph√≤ng', 'Shop, kiot, qu√°n', 'M·∫∑t b·∫±ng',
       'CƒÉn h·ªô chung c∆∞', 'Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ', 'Ph√≤ng tr·ªç, nh√† tr·ªç',
       'C√°c lo·∫°i kh√°c', 'Kho, x∆∞·ªüng', 'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp',
       'Trang tr·∫°i', 'Nh√† c·∫•p 4'], dtype=object)

### Process 'car_parking', 'rooftop_terrace', 'kitchen', 'dining_room'

In [131]:
columns = ['car_parking', 'rooftop_terrace', 'kitchen', 'dining_room']

# Set values to 'Yes' where the condition is True
house_data.loc[:, columns] = house_data.loc[:, columns].applymap(lambda x: 'Yes' if x == True else x)

In [132]:
house_data[columns].nunique()

car_parking        1
rooftop_terrace    1
kitchen            1
dining_room        1
dtype: int64

In [133]:
for col in house_data.columns:
    if col not in ['price', 'area', 'road_width', 'facade', 'length', 'storey', 'bedroom', 'toilet', 'X', 'Y', 'description', 'address']:
        print(col, house_data[col].unique().tolist())

direction [nan, 'ƒê√¥ng Nam', 'Nam', 'ƒê√¥ng B·∫Øc', 'B·∫Øc', 'T√¢y', 'T√¢y B·∫Øc', 'ƒê√¥ng', 'T√¢y Nam']
balcony_direction [nan, 'T√¢y Nam', 'T√¢y B·∫Øc', 'ƒê√¥ng B·∫Øc', 'Nam', 'B·∫Øc', 'ƒê√¥ng Nam', 'T√¢y', 'ƒê√¥ng']
legal ['S·ªï ƒë·ªè/ S·ªï h·ªìng', nan, 'Gi·∫•y t·ªù h·ª£p l·ªá', 'Gi·∫•y ph√©p XD', 'Gi·∫•y ph√©p KD', 'ƒêang ch·ªù s·ªï', 'H·ª£p ƒë·ªìng mua b√°n']
house_type ['Nh√† ng√µ, h·∫ªm', 'Nh√† m·∫∑t ti·ªÅn', 'Bi·ªát th·ª±, villa, nh√† li·ªÅn k·ªÅ', 'ƒê·∫•t th·ªï c∆∞, ƒë·∫•t ·ªü', 'ƒê·∫•t n·ªÅn, li·ªÅn k·ªÅ, ƒë·∫•t d·ª± √°n', 'Nh√† h√†ng, kh√°ch s·∫°n', 'VƒÉn ph√≤ng', 'Shop, kiot, qu√°n', 'M·∫∑t b·∫±ng', 'CƒÉn h·ªô chung c∆∞', 'Bi·ªát th·ª±, nh√† li·ªÅn k·ªÅ', 'Ph√≤ng tr·ªç, nh√† tr·ªç', 'C√°c lo·∫°i kh√°c', 'Kho, x∆∞·ªüng', 'ƒê·∫•t n√¥ng, l√¢m nghi·ªáp', 'Trang tr·∫°i', 'Nh√† c·∫•p 4']
published_date [nan, '01/11/2023', 'H√¥m qua', 'H√¥m nay', '25/10/2023', '05/10/2023', '13/11/2023', '14/09/2023', '21/10/2023', '31/10/2023', '12/09/2023', '18/11/2023', '07/11/2023', '11/11/2023', '10/11/2023', '15/11/2023', '29/09/2023', '30/09/2023', '16/10/2023', '03/11/2023', '04/11/2023', '30/10/2023', '08/11/2023', '18/10/2023', '07/10/2023', '17/09/2023', '23/10/2023', '13/09/2023', '09/11/2023', '11/09/2023', '13/10/2023', '24/09/2023', '19/10/2023', '02/10/2023', '21/09/2023', '17/11/2023', '02/11/2023', '26/10/2023', '08/10/2023', '10/10/2023', '10/09/2023', '04/10/2023', '23/09/2023', '12/11/2023', '27/09/2023', '27/10/2023', '22/10/2023', '19/11/2023', '26/09/2023', '20/09/2023', '28/09/2023', '09/09/2023', '17/10/2023', '25/09/2023', '06/11/2023', '20/10/2023', '16/09/2023', '05/11/2023', '06/10/2023', '15/10/2023', '14/10/2023', '18/09/2023', '09/10/2023', '11/10/2023', '12/10/2023', '16/11/2023', '19/09/2023', '24/10/2023', '22/09/2023', '20/11/2023', '03/10/2023', '01/10/2023', '14/11/2023', '15/09/2023', '08/09/2023', '29/10/2023', '24/11/2023', '14/12/2022', '15/03/2023', '19/04/2023', '16/03/2023', '19/03/2023', '11/11/2022', '10/11/2022', '28/11/2022', '31/01/2023', '29/05/2023', '23/03/2023', '08/12/2022', '18/03/2023', '12/04/2023', '24/12/2022', '22/03/2023', '27/11/2022', '21/03/2023', '21/02/2023', '22/11/2022', '05/06/2023', '01/12/2022', '14/03/2023', '10/09/2022', '16/05/2023', '05/12/2022', '07/02/2023', '02/06/2023', '29/11/2022', '24/03/2023', '14/02/2023', '18/11/2022', '13/04/2023', '31/03/2023', '02/02/2023', '02/12/2022', '04/02/2023', '23/11/2022', '25/01/2023', '15/11/2022', '08/02/2023', '13/12/2022', '13/03/2023', '04/12/2022', '02/03/2023', '21/04/2023', '13/08/2023', '20/12/2022', '10/02/2023', '16/02/2023', '22/02/2023', '17/03/2023', '15/05/2023', '26/05/2023', '10/01/2023', '04/01/2023', '17/10/2022', '20/03/2023', '21/10/2022', '20/11/2022', '02/04/2023', '30/11/2022', '08/01/2023', '30/12/2022', '14/11/2022', '06/02/2023', '14/04/2023', '07/12/2022', '03/04/2023', '20/04/2023', '30/01/2023', '03/02/2023', '09/12/2022', '19/12/2022', '27/12/2022', '21/12/2022', '22/12/2022', '13/01/2023', '28/01/2023', '18/12/2022', '30/08/2022', '17/12/2022', '15/12/2022', '18/04/2023', '28/12/2022', '05/02/2023', '13/02/2023', '06/12/2022', '24/02/2023', '17/11/2022', '24/11/2022', '03/03/2023', '10/12/2022', '17/02/2023', '29/03/2023', '14/06/2023', '19/05/2023', '25/11/2022', '11/04/2023', '10/03/2023', '11/03/2023', '05/04/2023', '16/11/2022', '09/01/2023', '19/11/2022', '08/03/2023', '21/11/2022', '01/04/2023', '12/10/2022', '23/12/2022', '26/12/2022', '06/04/2023', '28/03/2023', '12/11/2022', '29/12/2022', '08/04/2023', '26/11/2022', '11/02/2023', '01/03/2023', '15/02/2023', '26/06/2023', '17/05/2023', '13/11/2022', '09/04/2023', '09/03/2023', '04/03/2023', '28/02/2023', '28/10/2022', '03/12/2022', '07/10/2022', '29/10/2022', '16/12/2022', '27/05/2023', '27/01/2023', '23/05/2023', '18/02/2023', '07/01/2023', '26/02/2023', '04/05/2023', '18/05/2023', '27/02/2023', '11/01/2023', '30/03/2023', '10/10/2022', '31/05/2023', '25/12/2022', '19/02/2023', '12/07/2023', '01/02/2023', '20/02/2023', '07/03/2023', '17/06/2023', '09/08/2023', '05/03/2023', '11/08/2023', '19/09/2022', '21/07/2022', '07/04/2023', '25/03/2023', '04/04/2023', '25/05/2023', '12/01/2023', '14/07/2023', '22/04/2023', '06/03/2023', '12/03/2023', '17/04/2023', '23/02/2023', '19/01/2023', '10/08/2022', '12/02/2023', '08/06/2022', '14/05/2023', '03/01/2023', '22/05/2023', '15/07/2022', '15/08/2022', '12/05/2022', '21/05/2022', '25/04/2023', '27/03/2023', '12/05/2023', '24/05/2023', '25/02/2023', '28/06/2022', '06/01/2023', '01/06/2023', '13/05/2022', '12/12/2022', '16/06/2022', '19/08/2022', '09/06/2023', '11/06/2022', '26/05/2022', '18/10/2022', '21/05/2023', '16/01/2023', '19/06/2023', '03/06/2023', '08/08/2022', '15/04/2023', '30/05/2023', '31/05/2022', '22/06/2023', '11/12/2022', '04/08/2022', '05/08/2022', '14/01/2023', '20/07/2023', '14/08/2023', '07/06/2023', '10/07/2023', '10/04/2023', '11/09/2022', '20/05/2023', '27/07/2023', '05/07/2023', '06/07/2023', '19/10/2022', '19/07/2023', '09/02/2023', '27/06/2022', '13/06/2023', '28/05/2023', '05/01/2023', '26/03/2023', '15/09/2022', '06/06/2023', '30/06/2023', '01/07/2023', '21/06/2023', '13/05/2023', '07/07/2023', '21/09/2022', '28/06/2023', '08/10/2022', '03/11/2022', '31/12/2022', '01/07/2022', '08/11/2022', '15/01/2023', '24/08/2022', '25/10/2022', '04/06/2023', '14/10/2022', '05/11/2022', '26/01/2023', '05/09/2022', '16/04/2023', '18/01/2023', '29/01/2023', '01/01/2023', '24/06/2022', '17/01/2023', '18/07/2022', '21/06/2022', '29/06/2022', '05/07/2022', '08/08/2023', '07/07/2022', '05/09/2023', '25/09/2022', '16/06/2023', '01/11/2022', '20/06/2022', '17/07/2023', '02/01/2023', '28/08/2022', '03/06/2022', '12/06/2023', '24/01/2023', '22/01/2023', '13/07/2023', '21/07/2023', '10/06/2023', '29/06/2023', '02/08/2023', '27/06/2023', '18/07/2023', '06/05/2022', '23/09/2022', '02/08/2022', '20/05/2022', '03/07/2023', '12/09/2022', '22/09/2022', '31/07/2023', '16/05/2022', '22/10/2022', '22/05/2022', '02/07/2022', '03/11/2021', '11/07/2023', '20/01/2023', '11/08/2022', '09/09/2022', '12/06/2022', '01/10/2022', '14/06/2022', '26/04/2023', '20/06/2023', '30/06/2022', '02/07/2023', '04/11/2022', '21/01/2023', '04/09/2022', '04/07/2022', '24/06/2023', '25/06/2023', '16/08/2022', '23/01/2023', '04/10/2022', '25/08/2022', '08/06/2023', '11/06/2023', '15/06/2023', '13/10/2022', '29/09/2022', '04/07/2023', '02/11/2022', '31/10/2022', '14/07/2022', '17/08/2022', '24/10/2022', '07/06/2022', '11/07/2022', '14/05/2022', '17/05/2022', '24/09/2022', '02/10/2022', '27/07/2022', '12/08/2022', '04/05/2022', '09/06/2022', '11/11/2021', '23/11/2021', '19/08/2023', '24/05/2022', '17/07/2022', '29/08/2023', '06/07/2022', '31/08/2022', '21/04/2022', '28/07/2022', '02/06/2022', '15/06/2022', '09/07/2023', '10/06/2022', '06/06/2022', '25/11/2021', '17/09/2022', '23/06/2022', '07/05/2022', '11/05/2022', '17/11/2021', '23/10/2022', '20/11/2021', '15/11/2021', '22/11/2021', '22/08/2023', '25/07/2022', '09/11/2022', '11/10/2022', '03/10/2022', '15/10/2022', '20/09/2022', '16/07/2022', '27/05/2022', '09/08/2022', '07/09/2023', '15/07/2023', '05/06/2022', '22/08/2022', '23/08/2022', '07/09/2022', '28/09/2022', '25/04/2022', '25/05/2022', '03/07/2022', '13/11/2021', '30/05/2022', '08/07/2022', '19/07/2022', '18/06/2023', '08/09/2022', '23/06/2023', '17/08/2023', '20/10/2022', '19/05/2022', '13/07/2022', '28/05/2022', '02/11/2021', '12/11/2021', '13/09/2022', '03/08/2022', '16/11/2021', '10/07/2022', '18/06/2022', '13/06/2022', '26/08/2022', '18/09/2022', '26/06/2022', '29/08/2022', '01/11/2021', '22/06/2022', '27/09/2022', '24/07/2023', '30/10/2022', '07/11/2022', '16/07/2023', '04/06/2022', '22/07/2023', '30/09/2022', '23/05/2022', '16/09/2022', '06/08/2022', '06/10/2022', '23/08/2023', '09/05/2023', '14/09/2022', '28/04/2022', '16/10/2022', '01/06/2022', '26/10/2022', '26/09/2022', '01/08/2022', '26/07/2023', '01/09/2022', '24/07/2022', '22/07/2022', '10/05/2023', '27/10/2022', '28/04/2023', '31/08/2023', '28/08/2023', '07/08/2023', '10/05/2022', '16/08/2023', '26/08/2023', '20/07/2022', '15/08/2023', '19/06/2022', '25/07/2023', '06/09/2022', '12/07/2022', '05/10/2022', '26/07/2022', '06/11/2022', '03/09/2022', '29/07/2022', '08/05/2022', '09/07/2022', '09/10/2022', '18/05/2022', '13/08/2022', '18/08/2022', '08/07/2023', '09/05/2022', '03/09/2023', '11/05/2023', '23/07/2022']
expired_date [nan, '24/12/2022', '25/03/2023', '29/04/2023', '26/03/2023', '29/03/2023', '21/11/2022', '20/11/2022', '08/12/2022', '10/02/2023', '08/06/2023', '02/04/2023', '18/12/2022', '28/03/2023', '22/04/2023', '03/01/2023', '01/04/2023', '16/03/2023', '07/12/2022', '31/03/2023', '03/03/2023', '19/03/2023', '02/12/2022', '15/06/2023', '11/12/2022', '24/03/2023', '19/11/2023', '26/05/2023', '15/12/2022', '17/02/2023', '12/06/2023', '09/12/2022', '03/04/2023', '24/02/2023', '28/11/2022', '23/04/2023', '10/04/2023', '02/02/2023', '12/12/2022', '04/02/2023', '03/12/2022', '25/11/2022', '08/02/2023', '13/12/2022', '23/12/2022', '23/03/2023', '14/12/2022', '12/03/2023', '01/05/2023', '23/08/2023', '30/12/2022', '16/02/2023', '04/03/2023', '27/03/2023', '25/05/2023', '07/02/2023', '05/06/2023', '20/01/2023', '14/01/2023', '27/10/2022', '30/03/2023', '31/10/2022', '30/11/2022', '12/04/2023', '10/12/2022', '18/01/2023', '09/01/2023', '24/11/2022', '24/04/2023', '17/12/2022', '13/04/2023', '30/04/2023', '09/02/2023', '21/02/2023', '03/02/2023', '06/02/2023', '19/12/2022', '06/01/2023', '31/12/2022', '01/01/2023', '23/01/2023', '28/12/2022', '16/04/2023', '14/02/2023', '09/09/2022', '27/12/2022', '25/12/2022', '13/02/2023', '28/04/2023', '07/01/2023', '15/02/2023', '16/12/2022', '06/03/2023', '27/11/2022', '04/12/2022', '13/03/2023', '20/12/2022', '27/02/2023', '24/06/2023', '29/05/2023', '05/12/2022', '21/04/2023', '20/03/2023', '21/03/2023', '15/04/2023', '26/02/2023', '26/11/2022', '19/01/2023', '29/12/2022', '20/02/2023', '29/11/2022', '18/03/2023', '01/12/2022', '11/04/2023', '19/10/2022', '02/01/2023', '05/01/2023', '07/04/2023', '22/11/2022', '08/01/2023', '18/04/2023', '06/12/2022', '11/03/2023', '25/02/2023', '06/07/2023', '27/05/2023', '23/11/2022', '19/04/2023', '09/03/2023', '14/03/2023', '10/03/2023', '04/11/2022', '18/02/2023', '14/10/2022', '05/11/2022', '26/12/2022', '06/06/2023', '02/06/2023', '28/02/2023', '17/01/2023', '08/03/2023', '14/05/2023', '28/05/2023', '21/01/2023', '09/04/2023', '20/10/2022', '10/06/2023', '23/09/2023', '04/01/2023', '01/03/2023', '22/07/2023', '11/02/2023', '02/03/2023', '17/03/2023', '27/06/2023', '19/08/2023', '15/03/2023', '21/08/2023', '29/09/2022', '31/07/2022', '17/04/2023', '04/04/2023', '14/04/2023', '04/06/2023', '05/04/2023', '22/01/2023', '24/07/2023', '02/05/2023', '22/03/2023', '27/04/2023', '06/04/2023', '12/02/2023', '05/03/2023', '29/01/2023', '30/08/2022', '22/02/2023', '08/04/2023', '18/06/2022', '24/05/2023', '13/01/2023', '01/06/2023', '04/08/2022', '22/05/2022', '31/05/2022', '05/05/2023', '22/05/2023', '23/02/2023', '03/06/2023', '07/03/2023', '13/07/2022', '16/01/2023', '11/06/2023', '23/05/2022', '22/12/2022', '23/06/2022', '29/08/2022', '19/06/2023', '21/06/2022', '08/10/2023', '05/06/2022', '13/11/2022', '31/05/2023', '26/01/2023', '29/06/2023', '13/06/2023', '26/11/2023', '13/10/2023', '07/09/2022', '25/04/2023', '10/11/2023', '09/06/2023', '10/06/2022', '02/07/2023', '12/10/2023', '21/12/2022', '03/09/2022', '31/08/2022', '24/01/2023', '28/10/2023', '30/07/2023', '24/08/2023', '17/06/2023', '20/07/2023', '20/04/2023', '21/09/2022', '30/05/2023', '18/11/2023', '07/06/2023', '06/08/2023', '15/07/2023', '16/07/2023', '11/11/2023', '14/06/2023', '29/10/2022', '29/07/2023', '23/08/2022', '19/02/2023', '07/07/2022', '23/06/2023', '15/01/2023', '25/09/2022', '16/06/2023', '10/07/2023', '11/07/2023', '01/07/2023', '23/05/2023', '17/07/2023', '22/09/2023', '01/10/2022', '08/07/2023', '18/10/2022', '10/01/2023', '11/07/2022', '16/05/2023', '18/11/2022', '25/01/2023', '20/10/2023', '24/10/2022', '13/11/2023', '12/11/2022', '25/09/2023', '22/10/2023', '05/02/2023', '15/09/2022', '26/04/2023', '28/01/2023', '11/01/2023', '15/05/2023', '04/07/2022', '27/01/2023', '26/10/2023', '28/07/2022', '01/07/2022', '06/07/2022', '08/09/2022', '05/07/2022', '18/08/2023', '17/05/2023', '17/07/2022', '15/09/2023', '02/10/2022', '26/06/2023', '30/06/2022', '27/07/2023', '20/09/2022', '12/01/2023', '13/06/2022', '22/06/2023', '01/02/2023', '23/07/2023', '11/11/2022', '31/07/2023', '20/06/2023', '09/07/2023', '20/08/2022', '12/08/2023', '07/07/2023', '28/07/2023', '16/11/2023', '13/05/2022', '03/10/2022', '12/08/2022', '27/05/2022', '13/07/2023', '05/10/2023', '22/09/2022', '10/08/2023', '26/05/2022', '01/11/2022', '29/05/2022', '09/07/2022', '12/07/2022', '21/07/2023', '30/01/2023', '21/08/2022', '05/09/2022', '19/09/2022', '22/06/2022', '11/10/2022', '30/09/2023', '24/06/2022', '06/05/2023', '30/06/2023', '05/11/2023', '05/10/2022', '12/07/2023', '14/11/2022', '31/01/2023', '04/09/2022', '11/09/2022', '03/08/2022', '04/07/2023', '05/07/2023', '09/10/2023', '18/06/2023', '21/06/2023', '25/06/2023', '23/10/2022', '14/07/2023', '10/11/2022', '04/11/2023', '24/07/2022', '08/11/2022', '29/10/2023', '27/08/2022', '03/11/2022', '17/06/2022', '26/07/2022', '14/08/2022', '24/05/2022', '22/10/2022', '04/10/2022', '12/10/2022', '10/08/2022', '16/11/2022', '22/08/2022', '14/05/2022', '19/06/2022', '29/08/2023', '03/06/2022', '27/07/2022', '08/09/2023', '26/08/2022', '16/07/2022', '10/09/2022', '01/05/2022', '14/07/2022', '07/08/2022', '12/06/2022', '25/06/2022', '19/07/2023', '20/05/2022', '20/06/2022', '16/06/2022', '27/09/2022', '03/07/2022', '06/08/2022', '17/05/2022', '18/08/2022', '21/05/2022', '02/11/2022', '06/10/2023', '01/09/2023', '15/11/2022', '19/10/2023', '19/11/2022', '21/10/2022', '09/10/2022', '11/10/2023', '13/10/2022', '25/10/2022', '17/10/2023', '16/10/2023', '06/06/2022', '23/10/2023', '19/08/2022', '17/09/2023', '25/07/2023', '14/10/2023', '15/06/2022', '30/05/2022', '24/09/2023', '13/05/2023', '29/09/2023', '01/09/2022', '02/09/2022', '17/09/2022', '08/10/2022', '05/05/2022', '04/06/2022', '09/06/2022', '18/07/2022', '29/07/2022', '28/06/2023', '18/09/2022', '03/07/2023', '27/08/2023', '23/07/2022', '07/06/2022', '28/08/2022', '23/09/2022', '13/08/2022', '20/07/2022', '28/06/2022', '15/08/2022', '28/09/2022', '10/07/2022', '29/06/2022', '07/10/2022', '03/08/2023', '09/11/2022', '17/11/2022', '26/07/2023', '14/06/2022', '01/08/2023', '08/05/2023', '02/06/2022', '26/09/2022', '16/10/2022', '25/08/2022', '02/09/2023', '30/09/2022', '19/05/2023', '24/09/2022', '02/07/2022', '26/06/2022', '29/04/2022', '26/10/2022', '28/09/2023', '17/10/2022', '12/11/2023', '28/10/2022', '07/11/2022', '11/06/2022', '05/08/2022', '11/08/2022', '05/08/2023', '02/11/2023', '01/08/2022', '20/05/2023', '06/11/2022', '21/09/2023', '10/10/2022', '31/08/2023', '28/08/2023', '07/08/2023', '09/08/2023', '10/05/2022', '21/05/2023', '08/07/2022', '26/08/2023', '21/10/2023', '05/09/2023', '30/07/2022', '25/08/2023', '16/09/2022', '22/07/2022', '15/10/2022', '20/11/2023', '17/11/2023', '06/10/2022', '13/09/2022', '18/05/2022', '08/08/2022', '28/05/2022', '15/07/2022', '18/05/2023', '18/07/2023', '19/05/2022', '10/09/2023', '06/11/2023']
owner [nan, 'Yes']
car_parking [nan, 'Yes']
rooftop_terrace [nan, 'Yes']
kitchen [nan, 'Yes']
dining_room [nan, 'Yes']

In [134]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168638 entries, 0 to 177081
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              168638 non-null  float64
 1   area               168591 non-null  float64
 2   road_width         149877 non-null  float64
 3   facade             117276 non-null  float64
 4   length             56137 non-null   float64
 5   storey             140684 non-null  float64
 6   bedroom            137560 non-null  float64
 7   toilet             13718 non-null   float64
 8   X                  168612 non-null  float64
 9   Y                  168612 non-null  float64
 10  direction          10165 non-null   object
 11  balcony_direction  151 non-null     object
 12  legal              138541 non-null  object
 13  house_type         168638 non-null  object
 14  address            168613 non-null  object
 15  published_date     80353 non-null   object
 16  expired_date       18380 non-null   object
 17  owner              2 non-null       object
 18  car_parking        52181 non-null   object
 19  rooftop_terrace    63087 non-null   object
 20  kitchen            64383 non-null   object
 21  dining_room        64175 non-null   object
 22  description        168637 non-null  object
dtypes: float64(10), object(13)
memory usage: 30.9+ MB

In [135]:
house_data.to_csv('final_house_data.csv', index=False)